[2012-03-01 09:07] briancollins opened #6 "Can't determine if a retrieved object is deleted"
https://gist.github.com/00ee12193c7ffe8c31da

[2012-03-03 05:02] #6 closed, assigned to nobody

[2012-04-28 07:32] ebroder opened #10 "Can't set at_period_end when deleting a subscription"
Reported in Campfire.

APIResource.createDeleteConnection doesn't accept query parameters, so the at_period_end option to deleting a subscription gets dropped.

That's currently the only place where we pass a query parameter to a DELETE request, so nothing else should be affected.

[2012-05-01 02:06] #10 closed, assigned to nobody

[2012-05-06 20:16] ebroder opened #11 "Card.{cvc,addressZip,addressLine1}Check have incorrect values"
We're currently using a boolean to store the various checks, but the values returned aren't boolean (they're a tri-state string: "pass", "fail", or "unchecked"). This results in them always getting casted to a false value when gson decodes them.

We should probably use either a string or an enum for those fields (and if it's an enum, make sure that gson can cast them correctly)

[2012-05-07 13:02] kamiller opened #12 "Charge object doesn't have a customer id field"
There is a customer token returned in the Charge JSON that is not available in the java model object.  When receiving events I need this token to find the appropriate customer with that token in my system.

[2012-05-07 15:41] #12 closed, assigned to nobody

[2012-05-08 01:28] #11 closed, assigned to nobody

[2012-06-05 05:37] briancollins opened #13 "Add support for specifying an API key in an APIResource's constructor"
It's fixed on using the global `Stripe.apiKey` currently. The other bindings allow you to use any API key when creating/retrieving objects.

[2012-09-15 06:13] #13 closed, assigned to anurag

[2012-10-31 10:03] rpalmite opened #18 "Global Variable apiKey"
Please remove the dependency on the global variable apiKey. This implementation makes it very difficult to write concurrent code that leverages multiple api keys. If you're writing anything that's going to be used by multiple clients, this is a really unfortunate restriction of the library. Thanks for your consideration.

Russell

[2012-11-02 00:01] #18 closed, assigned to nobody

[2012-11-13 09:39] ghost opened #19 "invoice.getLines().all(params) does not work"
I use your JAVA API. When I retrieve an invoice which has invoice items, I can not access to list of the items. It seems that  InvoiceLineItemCollection URL is null.

[2012-11-21 08:25] #19 closed, assigned to nobody

[2012-12-06 16:27] briancollins opened #20 "Card has no `address_city` attribute"

[2012-12-06 20:50] briancollins opened #21 "Coupon has no `amount_off` attribute"

[2012-12-07 16:05] briancollins opened #22 "Update GSON to the latest version"

[2012-12-24 09:57] #20 closed, assigned to anurag

[2012-12-24 09:59] #21 closed, assigned to nobody

[2012-12-24 10:04] #22 closed, assigned to nobody

[2013-05-07 04:08] thysmichels opened #31 "Change Example Card Expiration Date"
com.stripe.exception.CardException: Your card's expiration year is invalid
    at com.stripe.net.APIResource.handleAPIError(APIResource.java:396)
    at com.stripe.net.APIResource._request(APIResource.java:378)
    at com.stripe.net.APIResource.request(APIResource.java:317)
    at com.stripe.model.Charge.create(Charge.java:222)
    at com.stripe.model.Charge.create(Charge.java:180)
    at com.exam

[2013-05-07 21:39] #31 closed, assigned to nobody

[2013-06-25 14:55] sbludlow opened #33 "Fee amount_refunded"
The Fee object is missing the amount_refunded json field.

[2013-06-26 21:09] mshashkov opened #34 "1.2.4 on Maven"
Hey all,

Can you push 1.2.4 to Maven please? It's still at 1.2.2 there.

[2013-07-01 06:11] #34 closed, assigned to nobody

[2013-07-07 04:23] ashishg1 opened #35 "EventDeserializer throwing nullpointer on account.application.deauthorized webhook"
Hi,

I am trying to convert json returned via webhook back to event class. This is what is returned in the webhook...

{
  "id": "evt_29R...",
  "created": 1373168226,
  "livemode": false,
  "type": "account.application.deauthorized",
  "data": {
    "object": {
      "id": "ca_29OdJ8Q3Hy...",
      "name": "Name"
    }
  },
  "object": "event",
  "pending_webhooks": 2,
  "request": null,
  "user_

[2013-07-26 21:50] joe-spanning opened #39 "Create 1.2.6 build for maven repositories"
The current source has a commit that I need that isn't available in 1.2.5.  (734f1f54c82d6e40529a6181be0e071634cf3355)

It would be helpful to have this in a released version (or snapshot) on a maven repo.

[2013-07-30 23:51] #39 closed, assigned to nobody

[2013-07-30 23:51] #35 closed, assigned to jimdanz

[2013-08-13 19:23] starzia opened #42 "Customer#getPlan returns null"
I am getting a null response for the following:

Customer me = Customer.retrieve( "cus_SOME_VALID_CUSTOMER" );
String planName = me.getPlan();

At this point, planName is null even though the Stripe portal shows that that customer has subscribed to a plan.

[2013-08-28 18:17] metcalf opened #44 "Missing 'retrieve' method on BalanceTransaction"
BalanceTransaction does not have a retrieve method per the docs

[2013-08-30 08:20] nnn-gif opened #45 "Adding card by token"
while adding card using card token by stripe.js

[code]

this gives exception

com.stripe.exception.CardException: The card object must have a value for 'number'.

[2013-08-30 08:33] #45 closed, assigned to nobody

[2013-08-30 22:08] #44 closed, assigned to metcalf

[2013-09-18 18:48] tchau opened #46 "Account model is missing "default_currency" field"
The Account model is missing the "default_currency" field

[2013-10-29 05:01] salehsed opened #49 "Is there any play to Scala 2.10 release ?"
I'm trying to integrate the API with Play 2.1.x

Thanks

[2013-10-31 06:39] #49 closed, assigned to nobody

[2013-12-11 16:50] mchiareli opened #51 "Connection to stripe fails after some days running"
Grails app with stripe, running on tomcat. Works fine for some days and then all connections fail. Must restart tomcat in order to work.

Stacktrace:
com.stripe.exception.APIConnectionException: Could not connect to Stripe (https://api.stripe.com). Please check your internet connection and try again. If this problem persists,you should check Stripe's service status at https://twitter.com/stripesta

[2013-12-12 15:13] javiercbk opened #52 "64-bit Timestamp"
Documentation should mention that timestamps are 32-bit long not 64-bit.

For instance, in order to set trial end I had to do it this way with a 64-bit JVM

subscriptionParams.put("trial_end", utcDate.getTime() / 1000L);

[2014-01-09 01:06] andrewpthorp opened #54 "Coupon.getRedeemBy() returns an Integer, should be Long."
Right now the `getRedeemBy()` on a `Coupon` returns an Integer, should be returning the same as other timestamps (Long).

[2014-01-09 01:14] #54 closed, assigned to nobody

[2014-01-11 08:03] #46 closed, assigned to nobody

[2014-01-11 08:31] #52 closed, assigned to nobody

[2014-01-11 08:31] #51 closed, assigned to nobody

[2014-01-11 08:43] #33 closed, assigned to nobody

[2014-01-11 08:44] #42 closed, assigned to nobody

[2014-01-16 18:46] andrewpthorp opened #58 "Add Metadata to InvoiceItem."
When we added Metadata to the Java Bindings, the InvoiceItem was missed.

**edit**: InvoiceItem, not InvoiceLineItem.

[2014-01-17 01:16] #58 closed, assigned to andrewpthorp

[2014-01-22 21:44] andrewpthorp opened #60 "ApplicationFee#refund using the wrong url"
Should be `/application_fees/:id/refund`, is currently `/application_fees/:id`

[2014-01-22 23:53] #60 closed, assigned to andrewpthorp

[2014-01-25 15:26] rgee opened #62 "Coupons with special characters cannot be retrieved without URL-encoding"
If you add coupon with the id "735*%24" via the Dashboard, the following returns null:

[code]

However, this returns the expected coupon:

[code]

This isn't specifically an issue with stripe-java, but I noticed that the path to this coupon in the Dashboard is something like: https://manage.stripe.com/coupons/735*%2524

The URL is what prompted me to try fixing my issue by URL encoding the coupon

[2014-02-06 10:49] tom-adsfund opened #64 "Move towards NIO"
Please can you move towards NIO HTTP connections.

You could use Netty, or I think Java 8 will have better HTTP connection support.

Without this, I think you will be blocking threads, and so reducing throughput considerably.

[2014-02-27 20:27] swandive opened #65 "Add "valid" to Coupon"

[2014-02-28 02:59] #65 closed, assigned to nobody

[2014-03-05 15:44] dharrigan opened #66 "Refund non-static"
Hi,

Just wondering, as a new consumer of your API, which the refund is not a static method like the charge method? I.e., when creating charges, I simply do:

[code]

whereas with refund I have to do:

[code]

This feels a bit inconsistent - but perhaps there is a decision on why that is the way it is :-)

-=david=-

[2014-03-13 05:38] #62 closed, assigned to nobody

[2014-04-01 15:32] thiagolocatelli opened #67 "Missing fields on Account object"
According to the documentation (https://stripe.com/docs/api/java#retrieve_account), there are missing fields in the java Account class:

  "timezone": "Etc/UTC"
  "transfer_enabled": false,
  "default_currency": "usd",
  "country": "US"

Would it be possible to add these properties for the next release?
Thank you

[2014-04-01 22:49] #67 closed, assigned to jimdanz

[2014-04-04 23:17] thiagolocatelli opened #68 "Webhooks"
Can you guys implement webhooks in the API/Java client? I would like to be able to manage my webhooks using my client code instead of having to go to my dashboard and create them.

[2014-04-05 01:12] #68 closed, assigned to nobody

[2014-04-06 21:40] thiagolocatelli opened #69 "Java library doesnt support lasted api update"
2014-03-28
Remove count property from list responses, replacing it with the optional property total_count. You can request that total_count be included in your responses by specifying include[]=total_count.

ChargeCollection still supports getCount and doesnt have the getTotalCount. Good practive to keep both in case of backward compatibility.

[2014-04-07 08:07] #69 closed, assigned to nobody

[2014-04-08 22:08] thiagolocatelli opened #70 "charge.getDisputed()"
not sure its an issue or not...

Charge charge = Charge.retrieve("XXX", apiKey);

The result from the API for "disputed" attribude inside the charge comes as a object instead of a boolean, so when I call charge.getDisputed (not getDispute), I am getting null, instead of true/false.

[2014-04-22 20:51] jxtps opened #73 "Add ability to get raw request / response for audit log"
For auditing purposes we need to log every single call made to Stripe, and precisely what was sent and what was received back (yes, I'm aware of your corresponding log, that is unfortunately not sufficient here).

Currently it is not possible to get that information - as soon as _request returns it is dropped on the floor: https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/

[2014-04-24 03:30] #70 closed, assigned to nobody

[2014-04-25 11:11] vivekCZ opened #74 "Verification Status"
In my application I am adding recipient through code. After that when ever they call transfer function fund will be transfer to their account. But before I want to know that If I create recipient based on information provided by customer how to know that customer has provide me valid bank account no.? Because in live mode I added one recipient with code . I insert valid routing number but account

[2014-04-25 21:07] #74 closed, assigned to nobody

[2014-05-08 14:40] EdwardFinegan opened #76 "Documentation"
I'm trying to implement the Stripe API into a java system. However I can't seem to find any solid documentation on how to do it. I have been to this URL:

https://stripe.com/docs/api?lang=java

But it is very general. Is there a javadoc set available for this? Are there any examples? I'm trying to integrate tightly to the Stripe service and seem to be spending most of my time on trial and error te

[2014-05-08 23:20] #76 closed, assigned to nobody

[2014-05-29 10:18] barabaka opened #80 "Add metadata to subscription"
Currently metadata can't be retrieved from Subscription object.

[2014-06-02 00:09] ExNexu opened #81 "Url in InvoiceLineItemCollection is not set"
The _all_ method(s) in _InvoiceLineItemCollection_ does not work, because the request _url_ is not set correctly.

I wanted to use it to retrieve the line items of an invoice as described here: https://stripe.com/docs/api/java#invoice_lines

But this results in the following exception:
java.net.UnknownHostException: api.stripe.comnull

For anyone who needs a dirty quick fix, I've hardcoded the url

[2014-06-03 06:06] #81 closed, assigned to nobody

[2014-06-10 00:52] #80 closed, assigned to nobody

[2014-06-10 18:33] briancollins opened #85 "Add "request" attribute to the Event object"

[2014-06-11 01:23] #85 closed, assigned to nobody

[2014-06-13 13:27] thiagolocatelli opened #86 "Issue using library on android (4.0.3)"
hey guys, I am having this exception when using any version of the library that checks for the SSL certificate... I am using the latest one now...

06-13 13:03:58.215: W/System.err(14566): java.lang.IllegalStateException
06-13 13:03:58.220: W/System.err(14566):    at libcore.net.http.HttpEngine.getCacheResponse(HttpEngine.java:412)
06-13 13:03:58.220: W/System.err(14566):    at libcore.net.http.Ht

[2014-06-14 00:23] #86 closed, assigned to nobody

[2014-07-09 03:32] amfeng opened #87 "Allow passing lists as parameters."
`flattenParams()` in ApiResource:207 only natively handles Maps, and `toString()`'s everything else.

[2014-07-11 23:08] #64 closed, assigned to nobody

[2014-07-11 23:10] #66 closed, assigned to nobody

[2014-07-17 01:42] sebastienjust opened #89 "Invoice.getForgiven()"
Hi,
maybe I'm missing something, but it seems that in Invoice class, the "forgiven" field described in https://stripe.com/docs/api#invoice_object is not available in Java bindings.
Thank you

[2014-07-18 23:16] #89 closed, assigned to nobody

[2014-08-06 03:27] benmccann opened #93 "Make method calls non-static"
The fact that the API is all static makes it hard to inject mocks for testing our application

[2014-08-06 18:24] #93 closed, assigned to nobody

[2014-08-15 15:16] vitezg opened #96 "please add support for serializing Stripe objects back to JSON"
It would be great to have official support for serializing the Stripe object back to JSON format.
The use case is saving the objects to the disk for later processing / caching.

Serializing and then deserializing almost works, however at least when deserializing an Event object EventDataDeserializer.java will throw a NullPointerException on line 105, because the data.object.object attribute does n

[2014-08-25 17:24] kyleconroy opened #99 "Add new dispute attributes"
The dispute objects should have three new fields
- `preliminary_inquiry_needs_response`
- `preliminary_inquiry_under_review`
- `charge_refunded`

[2014-08-26 00:18] #99 closed, assigned to jimdanz

[2014-08-31 21:17] michaelklishin opened #101 "StripeCollection should implement java.util.Iterable"
Currently `StripeCollection` subclasses are somewhat inconvenient to iterate over, even though semantically they represent a lazy collection (or result set cursor).

Have you considered making `StripeCollection` implement java.util.Iterable? Would a pull request
that makes the change have a chance at getting merged?

[2014-09-10 21:09] michaelklishin opened #102 "Separate exceptions for specific failures"
Currently whenever there's an issue with a request, the library throws `com.stripe.exception.InvalidRequestException`. This exception is very generic. In certain situations
(e.g. an attempt to create a customer with an ID that's already taken) it would be useful to have
more specific exceptions instead of matching response text (which feels really fragile).

[2014-09-10 22:46] #102 closed, assigned to nobody

[2014-09-24 16:13] sbailliez opened #103 "Transfer has field/getter/setter named statementDescriptor instead of statementDescription"
As a consequence the statement_description field returned in the json does not get mapped and getStatementDescriptor always return null.

[2014-09-27 00:50] #103 closed, assigned to jimdanz

[2014-10-02 15:12] rustamli opened #106 "Charge creation is broken on AppEngine after updating to 1.19.0"
Hi, for some reason charge processing stopped working after updating to `1.19.0`

Here's the way I'm trying to use it in my GAE app
This works on version `1.18.0`:

[code]

but after updating I am getting this:

[code]

Can you please check this?

Thanks

[2014-10-02 22:42] #106 closed, assigned to nobody

[2014-10-06 13:05] vladmelamed opened #108 "URLStreamHandler"
URLStreamHandler is not supported in Goggle app Engine.

[2014-10-14 16:09] chrisjenx opened #109 "Put ALL JSON POJO's inside the "models" package."
All POJO's should go in the `models` package! Reason being, that when you proguard your project and you define `-keep class com.stripe.model.** { *; }`, that should encompass all the JSON responses so when your application is obfuscated the API errors are also preserved.

By putting the APIError's inside https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/net/APIResource.jav

[2014-10-17 20:13] #109 closed, assigned to nobody

[2014-11-14 16:27] azhawkes opened #112 "Charge is missing the receipt_email and receipt_number properties"
The Stripe API Reference shows a couple of properties, receipt_email and receipt_number:

https://stripe.com/docs/api/java#charge_object

These properties are missing from `com.stripe.model.Charge`. Because of this, I can't get receipt emails when submitting a charge.

[2014-11-14 22:19] #112 closed, assigned to nobody

[2014-12-11 21:25] barabaka opened #126 "SSL 3.0 issue"
Do you have a fix for POODLE issue?

com.stripe.exception.AuthenticationException: Stripe no longer supports API requests made with SSL 3.0. Please initiate HTTPS connections with TLS 1.0 or later. You can learn more about this at https://stripe.com/blog/poodle.
        at com.stripe.net.APIResource.handleAPIError(APIResource.java:490)
        at com.stripe.net.APIResource._request(APIResource.jav

[2014-12-24 15:21] williamsbdev opened #132 "Maven central does not have the version of 1.24.0"
The README.md references the version 1.24.0 for both maven and gradle includes, however, maven central does not have that version published yet. Can we please push that version up to maven central and/or fix the README.md?

Thanks for this awesome library!

[2015-01-05 23:28] mlmanapat commented on #132
1.24.1 is now available on maven central.

[2015-01-05 23:28] #132 closed

[2015-01-29 01:00] thefosk opened #137 "Can't get the description of an Invoice"
The [`Invoice`](https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/Invoice.java) object is missing a `getDescription()` method.

[2015-02-20 17:58] pieterdev opened #141 "Cannot get card off of created customer using token"
Hi, I've created a customer:

Map<String, Object> customerParams = new HashMap<String, Object>();
        customerParams.put("source", token)
        customerParams.put("email", user.email)

Customer customer = Customer.create(customerParams)

The token was created using client-side js library. The customer entry and card gets created, and I verified this in the skype dashboard.

The problem is th

[2015-02-20 18:24] pieterdev commented on #141
Ah nevermind, I figured it out. Been changed to payment sources due to the bitcoin stuff right? I'm now using the sources collection on the customer.

[2015-02-20 18:24] #141 closed

[2015-02-20 22:56] jimdanz commented on #141
Correct!  As of https://stripe.com/docs/upgrades#2015-02-18

[2015-02-20 23:01] pieterdev commented on #141
Awesome, thanks for getting back to me. It's been working just fine :) I love stripe

[2015-02-20 23:04] jimdanz commented on #141
:D

[2015-02-26 05:34] Argoday opened #142 "Charge.create ambiguity"
The return of Charge.create() is ambiguous in the doc and could be made clearer.

From doc page: https://stripe.com/docs/api/java#charge_object
-- --
Returns
Returns a charge object if the charge succeeded. Throws an error if something goes wrong.
-- --
1. The returned charge object contains FailureCode and FailureMessage ... it is unclear if these are guaranteed to be null when returning from Cha

[2015-02-26 16:18] nicksellen commented on #96
I had a similar issue, "source" field inside a charge was being serialized as an empty object.

I created my own GSON objects based on the stripe ones and so far it's working:

    private static final Gson GSON_TO = new GsonBuilder()
        .setFieldNamingPolicy(FieldNamingPolicy.LOWER_CASE_WITH_UNDERSCORES)
        .registerTypeAdapter(EventData.class, new EventDataDeserializer())
        .regi

[2015-02-26 16:18] nicksellen commented on #96
and the methods to call them:

    public static String toJson(StripeObject obj) {
      return GSON_TO.toJson(obj);
    }

    public static <T extends StripeObject> T fromJson(String json, Class<T> klass) {
      return GSON_FROM.fromJson(json, klass);
    }

[2015-02-26 21:06] nicksellen commented on #96
... next error is with the Transfer object. The Transfer json from stripe api (latest version as of now) includes a "bank_account" field. Transfer.java expects "account" though.

I created this extra class that inherits from it which gives Gson the expected field to bind to:

    public static class TransferWithBankAccount extends Transfer {

        BankAccount bankAccount;

        public BankAc

[2015-02-27 02:20] Argoday commented on #142
Another ambiguity:
* It isn't clear when a CardException may be thrown and by which methods and with which codes ... does Customer.createCard() throw CardException? ... maybe, but since every method is marked as throwing all exceptions who knows which error cases need to be handled by which calls.
  * What are the possible CardException codes that can be thrown by Customer.createCard() ?

... in g

[2015-03-13 00:13] matthewarkin commented on #142
Ugh Chrome crashes right as I finish.

If a charge fails when you use Charge.create(), no charge object is created, and an exception is through. The status of "failed", and FailureCode and FailureMessage would only be set if a charge fails during some automatic billing (like that of an invoice). Since no charge object was created, no charge id exists.

I will give you that status does appear to be

[2015-03-13 08:03] sveinare opened #144 "Need to be able to bypass/disable checkSSLCert(conn);"
Hi,

We are on a network that is terminating all SSL-traffic on the gateway-level. Meaning, no outgoing SSL-calls make sence, since the certificate will not match the server, only the gateway (I'm not sure of the details). Anyway: The IT-department set up rules that will translate all calls to http://api-stripe.com to https://api.stripe.com when they leave the gateway.

Is it possible to have an o

[2015-03-13 09:47] jimdanz commented on #144
Hi @sveinare,

There is an option to skip this check when you also have the API host set to something other than api.stripe.com:
https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/net/APIResource.java#L223

So specifically you can set `Stripe.verifySSL = false;` and `Stripe.apiBase =  http://api-stripe.com;`.  I truly Do Not recommend this without a thorough understanding o

[2015-03-13 12:15] sveinare commented on #144
My problem is that the `!hconn.getURL().getHost().equals("api.stripe.com")` will be `false` since it doesn't include http/https.

My suggestion is to skip this host-compare.

[2015-03-13 21:23] jimdanz commented on #144
Hm.  `!hconn.getURL().getHost().equals("api.stripe.com")` should be true if your host is `api-stripe.com`.

[2015-03-13 23:48] sveinare commented on #144
Sorry. Typo.
I meant:
...will translate all calls to http://api.stripe.com to https://api.stripe.com... (in other words make the http a https)

[2015-03-18 23:10] gsastry commented on #137
:+1: Need this as well.

[2015-03-19 01:16] #137 closed

[2015-03-19 01:16] jimdanz commented on #137
many thanks to @shalecraig, this is now in master!

[2015-03-20 23:27] remistr opened #151 "The Token class does not handle the bank_account property"
At the moment the `Token` class only expects a `Card` object back and not a `BankAccount` which prevents you from accessing the bank account's properties until you add it to a recipient.

[2015-03-21 12:23] bwarring opened #152 "Routing number does not come back on BankAccount object when creating or updating recipient."
The web site API documentation displays the response object for a Recipient.  I am trying to get the routing number, but routing number does not seem to be present on the BankAccount object although; the documentation does show the property in the json response.

BankAccount Class
[code]
JSON RESPONSE:
[code]

[2015-03-23 14:09] nicksellen opened #153 "Transfer doesn't contain failure_reason"
The [Transfer class](https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/Transfer.java) doesn't hold the failure_reason from a failed transfer.

The transfer object json directly from the API has a nice failure_reason field (this is from a testmode Transfer):

[code]

This would be pretty useful to have available as otherwise I have to either a) manually log into the s

[2015-03-24 20:48] craigsoules commented on #101
Since it seems you guys are not in favor of supporting lazy iteration, I'll instead propose for the collections that implement calls like all() have those calls defined through an interface that they implement.  Then we could at least write a template-based wrapper that could do the lazy iteration even if you guys don't want to support it.

Right now I've got pagination double-looping all over the

[2015-03-25 20:17] dharrigan opened #154 "Stripe 1.27.0 not available on Maven Central"
Hi,

Latest release was 6 days ago, but doesn't seem available on Maven Central, only 1.26.0.

Sonatype Nexus : http://goo.gl/nH7XWd

-=david=-

[2015-03-25 22:08] danwang commented on #154
Sorry about that -- it's been fixed!

https://repo1.maven.org/maven2/com/stripe/stripe-java/1.27.0/

[2015-03-25 22:09] #154 closed

[2015-03-25 22:09] dharrigan commented on #154
w00t! thanks for the quick turnaround :-)

[2015-03-30 09:15] chrylis commented on #93
+1 for a cleaner 2.0. The static setup like this is routine in JavaScript, but it causes no end of headaches (container management, configuration, testing) in Java.

[2015-04-10 00:14] #126 closed

[2015-04-15 01:41] maxkremer opened #159 "Coupon doesn't get correctly applied when creating customer with subscription"
According to the docs you can create a customer, place them on a subscription and apply a coupon in one call like so:

[code]

However this will apply the coupon to the first charge but does not associate the coupon with the subscription to the plan.

Steps to reproduce:
- Create a plan
- Create a coupon
- Create a customer on a subscription to the plan with coupon applied as per the code snippet

[2015-04-15 22:31] jimdanz commented on #159
That flow creates a customer and a *customer-wide* discount.   So the coupon is applied at the customer-level, rather than the subscription level.

The distinction is when a discount is customer-wide, it will apply to charges made on *any* subscription that the customer has, now or ever (until the discount expires).

On the other hand, when a discount is applied to a particular subscription, it ap

[2015-04-15 22:31] #159 closed

[2015-04-15 22:34] jimdanz commented on #159
@maxkremer one more thing that I just remembered: when a coupon has `duration=once`, it gets *used* for the first charge, but then will never actually show up in the customer (or subscription) response.  Essentially it gets used for one invoice but then immediately has been exhausted, so it's already gone off the customer or subscription.

Anyway the way to check if that's what's happening for you

[2015-04-16 01:42] maxkremer commented on #159
@jimdanz thanks. But if that's the case (the customer-wide discount being applied to all subscriptions) then the subscription should "inherit" the customer wide discount somehow. At the very least it would be great if the above behaviour was documented.

[2015-04-23 02:17] andrewpthorp opened #161 "Null check `refunds` in `getRefunds` on charges."
https://github.com/stripe/stripe-java/blob/54f695e42ea09bd681fce25fe5e1b9d7e9a026b0/src/main/java/com/stripe/model/Charge.java#L219

If `refunds` has not been set (or has not been deserialized), this will throw an NPE.

[2015-04-23 03:27] jimdanz commented on #161
When can this come up?  Every charge response should have a `refunds` entry, unless I'm mistaken.

[2015-04-23 03:52] andrewpthorp commented on #161
I think it only happens when casting the `event.data.object` from a 'charge.*' webhook to a `Charge`

[2015-04-29 08:45] davidbigham opened #163 "Missing fields on Account object"
I am wanting to use the API to create standalone Accounts (not managed) for Connect (rather than use the OAuth flow), but the `Account` object returned is missing the "`keys`" map. (it returns the account object with an additional keys Map containing `secret` and `publishable` keys for that account. See https://stripe.com/docs/api/java#create_account).

There are also other missing fields, but ret

[2015-05-06 04:47] #163 closed

[2015-05-06 05:15] zhuhank opened #168 "Is there any proxy setting in this SDK"
As i'm in corporate network,how can i config proxy for stripe java SDK?

[2015-05-06 23:36] jimdanz commented on #161
We've fixed this on the API side, so that it should no longer be an issue (it should now be impossible to get a charge object with no refunds field.)

[2015-05-06 23:37] jimdanz commented on #161
Spoke too soon -- just realized that old event data will be affected.

[2015-05-06 23:37] #161 closed

[2015-05-07 15:09] jpeet opened #169 "tax_percent is not received in fetch subscription"
The value is set.. but not returned.

Example response:

  "id": "sub_6CEI0cfY083D3I",
  "current_period_end": 1431039599,
  "current_period_start": 1431008320,
  "cancel_at_period_end": false,
  "customer": "cus_6CDhzGISxOHPXR",
  "start": 1431009744,
  "status": "trialing",
  "trial_start": 1431008320,
  "trial_end": 1431039599,
  "plan": {
    "amount": 5900,
    "currency": "gbp",
    "id": "c

[2015-05-12 03:30] jimdanz commented on #169
Fixed by #170  -- thanks!  Let us know if you need a release cut.

[2015-05-12 03:30] #169 closed

[2015-05-14 23:11] LesNovell opened #172 "Managed account creation, Account.Verification.status field is missing"
Hello, I see the Verification object for managed accounts is missing the verification status field.  Can it be added so I can check the verification status for a managed account?

Ex:
    "verification": {
      "status": "unverified",
      "document": null,
      "details": null
    }

[2015-05-14 23:17] LesNovell commented on #172
Sorry, I found this under LegalEntity. My mistake

[2015-05-14 23:17] #172 closed

[2015-05-15 00:54] jimdanz commented on #172
thanks for closing the loop!

[2015-05-20 08:37] musicgood86 commented on #168
anybody know how to solve this ?

[2015-05-21 15:27] moqichenle opened #173 "Cannot get either tax amount or tax_percent in java library."
according to the document(https://stripe.com/docs/api/curl#retrieve_invoice) about retrieving invoice, it shows tax_percent and tax in json. However, there is no way to get it either in Invoice or Subscription.

[2015-05-21 15:40] andrewmullaney commented on #173
Bump - this is causing us havoc!

[2015-05-21 16:45] kyleconroy commented on #173
Tax percent was added to subscriptions in https://github.com/stripe/stripe-java/commit/eec05c2626823fe00f2a0f26f3aad899d34f3e70. It looks like we're still missing tax. Invoices are also missing tax and tax percent. Working on a fix for this now.

[2015-05-21 17:05] moqichenle commented on #173
thank you for reply.

We noticed it was added into subscriptions in this github project. However, in the library (version 1.28.0) , we didnt it in Subscriptions. Is there a new version soon? Thanks.

[2015-05-21 17:13] kyleconroy commented on #173
As soon as the PR is merged, I'll upload a new version of the library to central.

[2015-05-21 21:28] #173 closed

[2015-05-21 21:45] kyleconroy commented on #173
@moqichenle @andrewmullaney version 1.29.0 has been updated.

[2015-05-22 09:20] moqichenle commented on #173
Thank you very much. Could you please update in maven repository?

[2015-05-22 15:14] moqichenle opened #175 "Could not get the country of the customer"
I cannot find out which country the customer is from.....based on the java api.

it shows Country in sources part of the customer json.  however, when retrieving customer by customer_id in java, it didnt return sources with the customer.
Thank you.

[2015-05-22 22:14] jimdanz commented on #175
Hi there,
The customer object itself does not have a `country` property.  However, Card objects do.  So if a customer's first source is a `Card`, you should be able to do:
`((Card)customer.getSources().getData().get(0)).getCountry()`

[2015-05-22 22:50] moqichenle commented on #175
Thank you for ur reply! I will try it. :dancer:

[2015-05-25 13:54] moqichenle commented on #175
I had a look today. I m using 1.28.0 version in scala.

These are the properties I can find in the Customer.class. No any sign of "Sources".
[code]

[2015-05-29 02:46] agentcoops opened #176 "NPE on "account.reject" event"
If a managed account under the control of a Connect user is currently flagged as fraudulent, the user in question receives a webhook event of type "account.reject" with the message "Fraudulent account. Please close and refund charges." However, the JSON sent in this case is currently malformed and missing the data.object.object field as specified in the documentation: https://stripe.com/docs/api#e

[2015-06-01 12:42] Sylor73 opened #179 "Version "1.30.0" is not in Maven central"
i need this version:C

[2015-06-01 22:43] jimdanz commented on #179
should be fixed now -- sorry for the trouble!

[2015-06-01 22:43] #179 closed

[2015-06-10 19:15] aravinthraja opened #180 "Charge.java Model attribute issue?"
The attribute "amount" in the Charge.java inside "com.stripe.model"  having the type of Integer. i think it has to be Float.
Amount can be in any format like  $1, 1.99 , 3.568

[2015-06-11 17:40] kyleconroy commented on #180
@aravinthraja All amounts in the Stripe API are represented as integers. Storing money as floats has [inherent problems](http://stackoverflow.com/questions/3730019/why-not-use-double-or-float-to-represent-currency), so amounts should always be stored as integers (in cents).

[2015-06-11 17:40] #180 closed

[2015-06-11 21:15] aravinthraja commented on #180
Its helps Me a lot Thank you so much.

[2015-06-11 22:24] bkrausz commented on #176
See comment on pull request: https://github.com/stripe/stripe-java/pull/177#issuecomment-111293351

[2015-06-11 22:24] #176 closed

[2015-06-11 22:25] bkrausz commented on #175
Sources has been added: for those only charging credit cards it's essentially a rename of `cards`

[2015-06-11 22:25] #175 closed

[2015-06-16 20:17] bkrausz opened #181 "Transfer does not expose `destination_payment`"

[2015-06-16 22:16] matthewarkin opened #182 "Charge does not expose application_fee"

[2015-06-22 16:12] leothekim opened #183 "IllegalStateException on Event "previous_attributes" field"
The webhook json generated from the dashboard for the `customer.source.updated` event looks like this:

[code]

Note the `previous_attributes` field is `null`, which appears to be true for v2015-04-07 and v2015-06-15. When trying to deserialize into an `Event` using `Event.GSON.fromJson(json, Event.class)`, I get this error:

[code]

Setting `previous_attributes` to `{}` instead of `null` fixes th

[2015-07-05 02:49] alexg313 opened #187 "Charge does not expose "destination" connected account"
When a platform creates a charge on a connected account, the returned Charge should the "destination" parameter, which is the ID of the connected account the charge was created on/for.

See docs here: https://stripe.com/docs/api#capture_charge

[2015-07-05 03:02] alexg313 opened #188 "Charge description does not carry forward to connected account"
When a platform creates a charge on behalf of a connected account, the description provided for the charge appears on the payment in the platform account, but not in the connected account. In the connected account, the payment has a null/empty description.

        Map<String, Object> params = Maps.newHashMap();
        params.put("customer", customer.getId());
        params.put("amount", amount)

[2015-07-05 03:13] alexg313 opened #189 "Request: Stripe InvalidRequestException should provide an error code"
Currently when an InvalidRequestException (IRE) is thrown, no error code is provided. This forces the client to parse a string to determine what exactly the error is. Could the library add error codes where it makes sense?

Example: When calling "charge.capture()" on an already captured charge, here's what is returned as part of the IRE. A code (i.e. CHARGE_ALREADY_CAPTURED) would be great.

e.get

[2015-07-05 03:47] alexg313 opened #190 "Charge does not expose "Transfer ID""
When a platform creates a charge on behalf of a connected account and provides the account ID of the connected account in the "destination" parameter, the full amount of the charge (minus the application fee) is immediately transferred to the connected account.

When I login to my account (the platform), I can see the relevant Transfer ID in the Payment Details section of the payment. As far as I

[2015-07-27 16:13] EvanDooner opened #199 "LiveStripeResponseGetter::handleAPIError instantiates InvalidRequestException with arguments in the wrong order"
Currently, when an `InvalidRequestException` is created in the `LiveStripeResponseGetter::handleAPIError(String, int, String)` method, the arguments are provided in the order: message, requestId, param, null (cause). However, the constructor for `InvalidRequestException` has the following order for its parameters: message, param, requestId, cause.

This is causing created `InvalidRequestException`

[2015-07-27 22:23] leothekim commented on #183
Is `previous_attributes` not supposed to be `null`? If so, why does the test webhook send `null`?

[2015-07-27 22:27] leothekim commented on #183
Otherwise, this is a pretty simple fix:
https://gist.github.com/leothekim/0e52f0a7e71ba9150e3d

[2015-08-06 21:12] dlin303 opened #202 "No setter method for status attribute in Charge.java"
Pretty much all the other fields in Charge.java have both getters and setters except for status, which only has a getter.

Let's add a setStatus method to Charge, which would make it more consistent as well as useful for testing.

[2015-08-06 21:49] #202 closed

[2015-08-13 19:36] chrylis opened #205 "use wildcard bound instead of Map<String,Object>"
The static methods on `Charge` (and upstream, and likely elsewhere) specify a `Map<String,Object>` specifically, and it appears that a `Map<String,?>` would be suitable, as the parameters are (or should be) treated as read-only. This would make using the API with tools that perform type inference (such as Groovy) simpler, as the inferred generic type is generally `Serializable` instead of `Object`

[2015-08-25 21:21] hardtoe commented on #101
Pull request #125 which implemented StripeCollection iteration without lazy-loading was rejected.  According to that discussion a lazy-loading implementation is favored instead.

Recently submitted pull request #208 implements iterable StripeCollections and StripeCollectionAPIResources.  A version of either #125 or #208 should be accepted to close this issue.

[2015-08-25 21:22] hardtoe commented on #190
Pull request #207 resolves this issue if it is accepted.

[2015-08-25 21:33] hardtoe commented on #182
pull request #209 fixes this issue if accepted

[2015-08-26 01:52] hardtoe opened #210 "Javadoc on stripe objects"
None of the model objects have javadoc on them.  It would be very useful to have javadoc on the model class declarations and accessor methods of the model objects based on the official stripe api reference.  It is my understanding that documentation for model fields does not change often and would be beneficial for the consumers of this API.

If this issue is accepted I will create a pull request

[2015-08-26 02:09] hardtoe opened #211 "compile-time safety for api call parameters and types"
The current java api provides no compile-time safety for api call parameters.  Neither the names of the parameters nor the types being passed as values are checked at compile time.  It would be beneficial to users of the API to have a fluent style api for Stripe api calls.  For example:

[code]

This might seem like a lot of work, however the official Stripe API reference is structured so well tha

[2015-08-27 05:28] matthewarkin opened #212 "Tokens should be able to display linked bank accounts"
The token class only has a card property it should also have a bank account property since a token can be either a card or bank account token.

[2015-08-28 16:34] mmcgrana commented on #212
Closed by #213. Thanks for flagging @matthewarkin!

[2015-08-28 16:34] #212 closed

[2015-08-28 22:52] kyleconroy commented on #210
@hardtoe That would be fantastic and much appreciated :D

[2015-08-31 18:32] kyleconroy commented on #144
@sveinare This should now work. The `checkSSLCert` function has been removed.

[2015-08-31 18:32] #144 closed

[2015-08-31 18:53] mmcgrana commented on #151
I believe this is a duplicate of #212 which is fixed in a release going out now.

@remistr if this is not a dup please just reopen and let me know.

[2015-08-31 18:53] #151 closed

[2015-09-01 21:42] kyleconroy commented on #199
This was fixed in July, forgot to close this issue.

[2015-09-01 21:42] #199 closed

[2015-09-17 19:06] kyleconroy commented on #190
PR has been merged

[2015-09-17 19:06] #190 closed

[2015-09-17 19:15] kyleconroy commented on #211
@hardtoe I'd be very interested see the entire SDK that you've generated from the docs. We actually have a completely representation of the API internally, so we could possibly generate something like this ourselves.

[2015-09-17 19:16] kyleconroy commented on #210
@hardtoe any update here? If you don't currently have time, I'm going to move this to a "version-two" task.

[2015-09-17 19:18] kyleconroy commented on #205
@chrylis For now, we'll be sticking with `Map<String,Object>`. The plan is to move to strongly-typed RequestOption objects in version 2.

[2015-09-17 19:18] #205 closed

[2015-09-17 19:20] kyleconroy commented on #189
@alexg313 Thanks for the feature request. Since this isn't provided by the API, we can't provide a code through stripe-java. However, we have thought of adding more error codes to detect errors like this. I can't provide a timeline, but we know this is a problem.

[2015-09-17 19:20] #189 closed

[2015-09-17 19:23] kyleconroy commented on #188
@alexg313 thanks for the bug report! This has been filed on our internal bug tracker.

[2015-09-17 19:23] #188 closed

[2015-09-17 19:28] kyleconroy commented on #182
PR has been merged

[2015-09-17 19:28] #182 closed

[2015-09-17 19:29] kyleconroy commented on #168
There is now! It was added in this PR https://github.com/stripe/stripe-java/pull/206

[2015-09-17 19:29] #168 closed

[2015-09-17 19:41] kyleconroy commented on #73
I'm going to close this issue for now, but tag it with `version-two`. We'll probably go with the backends approach, which means you'll be able to create a custom backend that would log all requests / responses.

[2015-09-17 19:47] #87 closed

[2015-09-17 20:52] #142 closed

[2015-09-17 20:53] kyleconroy commented on #108
We've done some work since this issue was opened to make sure that stripe-java works on App Engine. Please let me know if this is still failing.

[2015-09-17 20:53] #108 closed

[2015-09-17 21:41] Argoday commented on #142
Unaddressed items:

1) The Status field documented in the API docs is missing on the com.stripe.model.Charge object in this java client

2)

This makes things even more confusing ... (how does an invoice come into the picture?)

Points:
* The com.stripe.model.Charge class contains failureCode and failureMessage fields.
* I've dug into the source of the client and you guys are doing a GSON.fromJson

[2015-09-17 21:44] Argoday commented on #210
+1

[2015-09-17 21:46] Argoday commented on #211
+1 - the current design of this library is horribly non-object-oriented, this type of change would be much appreciated

[2015-09-17 21:48] matthewarkin commented on #142
Charge.create() should never return a failed charge with a failureCode set, it would be a 402 (payment required).

Charge.retrieve() can return a charge with a failureCode set (that would be a 200)

[2015-09-17 21:52] Argoday commented on #142
awesome!

https://stripe.com/docs/api#create_charge is unclear on this point,.. would be nice for you guys to ping a doc writer to see if this can be made clearer in the api docs.

Cheers

[2015-09-17 22:55] hardtoe commented on #211
I am happy to hear that the documentation has a nice internal representation.  My code generation script today isn't able to extract parameter types and a few other things.  Working directly from the internal representation will make your job much easier.  I'll upload the code generation stuff as well as what the output looks like tonight.

[2015-09-17 22:57] hardtoe commented on #210
I don't currently have time to do this.  I think the "version-two" tag is the right choice...especially if it can be done as part of issue #211.

[2015-09-17 23:41] kyleconroy commented on #73
This issue has been added to the Version 2 Roadmap https://github.com/stripe/stripe-java/wiki/Roadmap

[2015-09-17 23:42] kyleconroy commented on #210
This has now been added to the roadmap. I'm closing the issue, but feel free to continue discussing here.

[2015-09-17 23:42] kyleconroy commented on #211
This has now been added to the [roadmap](https://github.com/stripe/stripe-java/wiki/Roadmap). I'm closing the issue, but feel free to continue discussing here.

[2015-09-18 20:42] #183 closed

[2015-09-18 20:42] #181 closed

[2015-09-18 20:42] kyleconroy commented on #153
All fixed :)

[2015-09-18 20:42] #153 closed

[2015-09-18 20:52] #187 closed

[2015-09-18 21:04] kyleconroy commented on #96
I've added this to the roadmap for version two of stripe-java.

[2015-09-18 21:11] kyleconroy opened #222 "Adds http status code to InvalidRequestException"
There is currently no way in the Java api bindings to tell the difference between a 404 and a 400 response. These are both identically mapped to InvalidRequestException.

Example use case:
Getting the upcoming invoice for a customer. There is a meaningful difference between a 'not found' vs a 'bad request' response.

[2015-09-18 21:16] #152 closed

[2015-09-18 21:29] leothekim commented on #183
Thanks!

[2015-09-21 20:49] jimdanz commented on #188
@alexg313 this is expected behavior.  In order to specify a description for a charge that shows up on the connected account, you need to provide it as `transfer[description]=foo`.  So in your example:

[code]

[2015-09-22 17:33] #222 closed

[2015-10-02 20:43] andrhamm commented on #96
:+1:

[2015-10-07 09:52] olivierbellone opened #227 "Reversal.setTransfer() doesn't work"
A badly named parameter in the declaration prevents the `Reversal.setTransfer()` method from working.

Patch in PR #226.

[2015-10-07 17:14] olivierbellone commented on #227
PR #226 has been accepted and merged.

[2015-10-07 17:14] #227 closed

[2015-10-13 09:34] olivierbellone opened #229 "Lists are not serialized correctly"
When [creating a product](https://stripe.com/docs/api/java#create_product) with the following code:

[code]

the request body will be encoded like this:
[code]

Because the `attributes` list is not correctly serialized, the product creation then fails with:
[code]

`attributes` should be serialized as:
[code]

[2015-10-13 12:41] jloisel commented on #229
Happens on Order.all too, trying to pass ids to the request and it fails with invalid array.

[2015-10-13 12:41] jloisel commented on #229
Pretty sure it affects all the requests which require to serialize lists.

[2015-10-13 12:55] jloisel commented on #229
Can be reproduced using curl:

[2015-10-13 15:22] brandur opened #230 "StripeTest hangs"
Something in the `StripeTest` suite doesn't work. Execution hangs when `mvn test` gets there:

[code]

I think it may be waiting on a real HTTP connection.

[2015-10-13 16:37] brandur commented on #230
Hah, each tests seems to work fine individually of course:

[code]

[2015-10-13 18:26] kyleconroy commented on #230
The tests (sadly) make live HTTP calls, which make them very slow. Running a single test is probably the way you want to go.

[2015-10-13 18:30] brandur commented on #229
Wow, was just looking into this a bit and it seems that [this was done on purpose](https://github.com/stripe/stripe-java/blob/brandur-pagination/src/test/java/com/stripe/net/LiveStripeResponseGetterTest.java#L55,L66). As you can see in that test, it knowingly changes a list into an object instead of projecting it into an array.

I'm not sure why (maybe the server is supposed to support this?), but

[2015-10-13 18:43] brandur commented on #230
Hah. This must be a Java thing.

@kyleconroy Thanks!

[2015-10-13 18:43] #230 closed

[2015-10-13 18:55] kyleconroy commented on #229
@brandur Indeed. This is how `/v1/accounts` works. We should check in on the other bindings to make sure that order creation is working properly in the other bindings. We should probably put this special case in the Account class and make the general case do the correct thing.

[2015-10-13 19:03] brandur commented on #229
@kyleconroy Thanks! Do you think that I might just be able to apply a universal fix for this to Java package? I took a look at the API docs for `/v1/accounts`, and as far as I can tell, all the mutable collection fields seem to be able to arrays. Is it possible that the necessity for the `0 => ..., 1 => ..., 2 => ...` style syntax was phased out?

[2015-10-13 22:56] kyleconroy commented on #101
Just wanted to update everyone on the status of pagination. We have a PR open to (https://github.com/stripe/stripe-java/pull/228) that we're hoping to merge in this week..

[2015-10-16 14:21] brandur commented on #229
This still needs a release, but was fixed by #231.

[2015-10-16 14:21] #229 closed

[2015-10-16 14:22] brandur commented on #101
A release is still pending, but #228 is now merged to master. Closing this issue out. Sorry about the fairly extreme time to resolve!

[2015-10-16 14:22] #101 closed

[2015-11-18 09:51] olivierbellone opened #236 "Previous metadata values should be unset when updating metadata"
When updating metadata, the other bindings (tested with Python, not sure about the others) will unset the previous metadata fields.

E.g., with the Python bindings:
[code]

The bindings correctly reset the `'A'` and `'B'` keys in the update request:
[code]

However, when doing the same operation with the Java bindings:
[code]

The result is:
[code]

The update request only sent the new metadata ke

[2015-11-18 09:57] jimdanz commented on #236
This is intended behavior.  stripe-java objects do not implement "save" methods that take the in-memory object and persist it to the API.  Instead, stripe-java objects implement an explicit update method, the contract of which is that it sends its map of parameters directly over the wire.

To unset a metadata key in stripe-java, pass empty string as the value.  For instance, `customerMetadata.put(

[2015-11-18 09:57] #236 closed

[2015-11-18 09:59] olivierbellone commented on #236
Thanks for the super fast reply @jimdanz!

[2015-11-18 09:59] jimdanz commented on #236
My pleasure!  Thanks for raising.

[2015-11-18 17:26] olivierbellone commented on #236
Just in case someone stumbles upon this in the future: passing an empty string (`""`) as the value for a metadata field will raise the following exception:
[code]

As the exception message says, you should instead pass `null`:
[code]

[2015-11-18 22:15] jimdanz commented on #236
Ah sorry didn't realize that stripe-java overrides our handling of empty string.  Thanks for catching!

[2015-11-26 19:10] olivierbellone opened #237 "Issue with autoPagingIterable() and RequestOptions"
(Using stripe-java 1.38 and gson 2.2.4.)

This code:
[code]

will list the first 4 plans, then fail with the following exception:
[code]

Strangely enough, it works flawlessly when using:
[code]
instead.

There is also no issue if the API key is set at the global level:
[code]

[2015-11-26 22:56] vberbenetz opened #238 "Customer Model Is Missing ShippingDetails Field"
Hi,

I was trying to retrieve the shipping object from the Customer object as per the API, but wasn't able to. Looking at the source of the Customer object, it appears that the ShippingDetails field is missing. Can you please let me know if this is an issue, or is there another way to retrieve the ShippingDetails object?

Thank you.

[2015-11-26 23:24] remistr commented on #238
Hey @vberbenetz! Thank you for reporting this issue! The `shipping` parameter on the Customer object is quite recent and we haven't added it to the Java library just yet but PR are definitely welcome :)

[2015-12-01 00:25] #237 closed

[2015-12-01 02:47] steve-taylor opened #241 "Version 1.38.1 missing from Maven central"
It seems that 1.38.1 is missing from central.

[2015-12-01 03:31] brandur commented on #241
@steve-taylor Sorry, his one is my fault. I'll get a patched version released ~9 AM PT tomorrow.

[2015-12-01 03:43] steve-taylor commented on #241
No problem at all. I'll just use the previous version until then.

[2015-12-01 18:21] brandur commented on #241
This should be up there now. Thanks for reporting.

[2015-12-01 18:21] #241 closed

[2015-12-02 11:56] sthzg opened #243 "Putting Shipping Data on Charge Request"
According to the [stripe docs](https://stripe.com/docs/api/python#charge_object-shipping) one can put a `shipping` key on the `Charge` object. If I have a [`ShippingDetails`](https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/ShippingDetails.java) object populated, is there a convenience method to create the `Map` object that is necessary to put it on the charge param

[2015-12-03 20:53] brandur commented on #243
Good question!

For reference, [here's how the tests do it](https://github.com/stripe/stripe-java/blob/bf374048fbf4ef614bc775a06de27ecd8e4b37fb/src/test/java/com/stripe/StripeTest.java#L3360) (just the naive approach of manually building a map unfortunately).

The only doubt here I have is that generally it seems that this library reserves the typed model names for API responses and favors basic m

[2015-12-03 21:00] brandur commented on #238
Thanks for reporting! Added a fix in #244.

[2015-12-03 21:32] #238 closed

[2015-12-04 10:48] sthzg commented on #243
Thanks for your reply, it sounds better than what I had in mind. I only thought about a verbose and unsophisticated version, much like handcrafting the fictional `asParamsMap()` method, possibly with an argument to specify the API target version `asParamsMap(String apiVersion)`.

Thanks for pointing out the test class. I stumbled upon it yesterday while searching for the available API and as writt

[2015-12-04 18:33] brandur commented on #243
@sthzg Cool! Okay, I'm going to close this down for the time being because we won't be taking immediate action, but let us know if you have any other thoughts or ideas here. Thanks!

[2015-12-04 18:33] #243 closed

[2015-12-22 20:04] vberbenetz opened #245 "Coupon and Plan Models Missing Created Field"
Hi,

It appears that the Coupon and Plan models are missing the "created" timestamp field.

[2016-01-04 18:54] #245 closed

[2016-01-04 18:54] brandur commented on #245
Looks like @olivierbellone got this patched in #247. We'll get a release out shortly. Thanks for the report!

[2016-01-07 10:38] olivierbellone opened #249 "Some object types not properly type-casted when extracting an event's object"
When accessing an event's object, e.g.:
[code]

the resulting `stripeObject` will be automatically type-casted to the appropriate type in some cases (for instance, `charge` objects are properly type-casted to `Charge`) but not in others (for instance, `application_fee` objects are type-casted to `StripeRawJsonObject`).

PR with a fix incoming.

[2016-01-07 10:49] olivierbellone commented on #249
AFAICT, this is the list of types (that currently appear in at least one event type) that were not properly type-casted to their respective classes:

- `application_fee`
- `bitcoin_receiver`
- `order`
- `product`
- `sku`

[2016-01-07 17:46] #249 closed

[2016-01-07 21:53] jaypatel512 opened #251 "Getting authentication credentials using SDK"
As shown in the [Stripe Connect Feature](https://stripe.com/docs/connect/standalone-accounts), I am trying to get the authentication credentials for the user whose code I just received. Can I do this in Java SDK ?

Here is the documentation snippet I am trying to follow:
[code]

[2016-01-07 22:17] remistr commented on #251
This endpoint is not part of the SDK as it doesn't hit our API. You need to make the POST request on your end or use a third-party library for OAuth.

You can also see an example in Java in our documentation [here](https://stripe.com/docs/connect/standalone-accounts#sample-code)

[2016-01-11 15:12] dgrmunch opened #256 "Applying tax_percent in an invoice automatically generated for the update of a subscription"
When a subscription is updated (for example, from one kind of plan to another) the taxes are not applying in the generated invoice.
Taking for example these lines of code for a "Subscription" object "s":

        Map<String, Object> updateParams = new HashMap<String, Object>();
        updateParams.put("plan", getSelectedAccount().getCode());
        updateParams.put("prorate", "true");
        up

[2016-01-11 15:18] remistr commented on #256
@dgrmunch: This code should not generate an invoice at all unless you move the customer between of different billing cycles as explained in our [Support article](https://support.stripe.com/questions/handling-subscription-changes). If you move the customer from a monthly plan to a monthly plan for example it simply creates pending invoice items that would then be picked up by the next invoice autom

[2016-01-11 15:20] olivierbellone commented on #256
@dgrmunch This is by design. When you create an invoice, Stripe has no way to know whether the invoice is generated as part of a subscription or not, so by default it has no `tax_percent`.

If you wish to apply the subscription's `tax_percent` to this invoice, you will need to do so explicitly, by adding a [`tax_percent`](https://stripe.com/docs/api#create_invoice-tax_percent) parameter to your [i

[2016-01-11 15:20] #256 closed

[2016-01-11 15:28] dgrmunch commented on #256
@remistr Thanks for your response.

[2016-01-11 15:29] dgrmunch commented on #256
@olivierbellone Great ;-) Thanks

[2016-01-14 18:16] sterfried opened #257 "LegalEntity "getSsnLast4Provided" always returns null"
When calling this method it will always (at least in all my testing) return null. The "getPersonalIdNumberProvided" *appears* to be working. I committed these two fields in a recent pull request, so if there is an issue with this code I am happy to remedy it.

[2016-01-14 20:36] brandur commented on #257
@sterfried Any theories? Examining the code, nothing stands out as certainly wrong. Are you sure that the object you're testing with has a `ssn_last_4_provided` attribute set?

[2016-01-14 21:48] sterfried commented on #257
@brandur When I do a curl request on the account, in the response JSON I see that it has the value set as follows:
    "personal_id_number_provided": true,
    "ssn_last_4_provided": true

If I had to throw out a theory it would be that the process that is converting these field names from camelcase to the json properties for the request to Stripe is possibly having an issue with the number "4", c

[2016-01-14 22:02] sterfried commented on #257
@brandur Looking at https://github.com/google/gson/blob/master/gson/src/main/java/com/google/gson/FieldNamingPolicy.java it appears the LOWER_CASE_WITH_UNDERSCORES method then uses the separateCamelCase, which specifically looks for uppercase letters.

If you believe my previous comment's assumption to be correct, then would changing the field name to be ssnLast_4Provided be a solution you would r

[2016-01-14 23:11] sterfried commented on #257
Not sure of my schedule so put up PR #258 just in case.

[2016-01-14 23:39] brandur commented on #257
Hey @sterfried!

Thanks for following up, and those are great finds! Some kind of automated name conversion mismatch does indeed seem like the most likely cause of this problem.

This is a little subjective, but the naming in #258 of `ssnLast_4Provided` looks a little bit awkward to me. As an alternative, what do you think about using Gson's `@SerializedName` annotation to just override the naming

[2016-01-14 23:40] brandur commented on #257
Oh, and:

Yeah! A comment to go along with whatever change we make definitely wouldn't hurt.

[2016-01-14 23:40] sterfried commented on #257
Much better! I had a feeling they would have an override somewhere, didn't spot it though. Will recommit. Comment next to annotation?

[2016-01-14 23:40] brandur commented on #257
Yes please!

[2016-01-16 00:18] brandur commented on #257
This one was closed by #259.

[2016-01-16 00:18] #257 closed

[2016-01-16 00:23] brandur commented on #251
@jaypatel512 Closing this one out for now, but let us know if you have any other questions about this. Thanks!

[2016-01-16 00:23] #251 closed

[2016-01-19 19:33] olivierbellone opened #260 "Adding a bank account to a customer raises a java.lang.ClassCastException"
(Tested with the latest stripe-java 1.41.1.)

Using the [create a bank account](https://stripe.com/docs/api/java#create_bank_account) API call on a customer raises a `java.lang.ClassCastException`:
[code]

On Stripe's end, the customer is actually updated with the bank account, but this exception is raised in the code:
[code]

I guess we'd need a separate `createBankAccount()` method to account fo

[2016-01-19 21:15] remistr commented on #260
@ob: I wouldn't add a `createBankAccount()` and instead use a generic `createSource()` or `createExternalAccount()`. The following code works and should be generalized maybe?
[code]

[2016-01-20 09:20] olivierbellone commented on #260
Right. I like the code you provided because it is very similar to what we'd do in Ruby / Python / PHP.

What I don't like is that it'd require the developer to manually upcast the `ExternalAccount` to `BankAccount` (or `Card`, etc.) if they need to use e.g. `getRoutingNumber()`.

@brandur, do you have any thoughts about this?

[2016-01-20 21:58] brandur commented on #260
So first thought: @remistr is certainly right in that this is to some degree a user error, and can be worked around by using the `ExternalAccount` interface. However, I think the fact that you get an exception thrown from inside Gson is problematic: ideally we should add a little extra validation here so that a user who triggers this gets a much more friendly error that pushes them in the right di

[2016-01-20 22:11] olivierbellone commented on #260
I don't disagree that it's a user error, but at the moment our API doc educate users to use `createCard()` when creating bank accounts, so it'd be good to decide on what's the "right" way of doing this operation and update the doc accordingly.

I like your proposal: it keeps the code consistent with what we'd do in other languages while accounting for Java's static typing.

[2016-01-21 02:50] brandur commented on #260
Ah, I didn't see that this code was directly suggested by the docs! We definitely need a fix for that as well then :$

[2016-01-21 14:44] asukhyy opened #261 "'disabled_reason' is missed in com.stripe.model.Account.Verification"

[2016-01-21 15:56] asukhyy opened #263 "'details_code' is missed in com.stripe.model.LegalEntity.Verification"

[2016-01-21 16:07] olivierbellone commented on #261
Thanks for reporting this, @asukhyy! I have submitted a PR, expect a patched version to be released Soon™.

[2016-01-21 16:12] asukhyy commented on #261
@olivierbellone you are welcome, there is another similar one #263 could you please take a look?

[2016-01-21 16:25] olivierbellone commented on #263
Updated PR #262 to also fix this one.

[2016-01-21 20:57] #261 closed

[2016-01-21 21:05] #263 closed

[2016-01-21 21:10] olivierbellone commented on #263
Closed #263 via #262.

[2016-01-21 23:09] keithblaha opened #264 "InvoiceLineItemCollection provided by getLines doesn't get same auth request options with autoPagingIterable"
I'm using this library in a multithreaded environment against various keys granted via oauth by Stripe users for my app, so I provide the appropriate key in request options for each call I make. However, it seems like some of the models' methods don't copy these credentials on additional requests that are made.

e.g., I call Invoice.list passing my request options, and then on each invoice I call

[2016-01-21 23:22] keithblaha commented on #264
looks related to #237

[2016-01-22 23:27] brandur commented on #264
@keithblaha Hey! Sorry about the trouble here, and thanks for logging this.

So the auto-paging iterator does theoretically pass through an API key along with any other request options that might be have been included with the original list request:

https://github.com/stripe/stripe-java/blob/89acae5f968a8e72688e59b8e5a40068143fcbc1/src/main/java/com/stripe/model/PagingIterator.java#L55

And we do

[2016-01-23 16:52] keithblaha commented on #264
Thanks for responding so fast @brandur! Sorry my title/original message we're all sloppy and probably hard to parse- I was just filing this quickly while in the middle of some stuff. I want to reiterate that this issue is particular to running autopagination within an already occurring autopagination (in this case, off of line items for an invoice)

I've created a new stripe account to test this a

[2016-01-25 23:18] brandur commented on #264
@keithblaha Thanks for the repro! That definitely helps me a lot.

Okay, I see what's going on here. The auto-paginator essentially relies on passing parameters and options off to new `StripeCollection` instances that are created in order to produce a chain of successful auths. The problem here is that subcollections (e.g. invoice items) that are instantiated below a parent resource item (e.g. inv

[2016-01-25 23:35] keithblaha commented on #264
:+1: awesome, thanks for being so responsive!

[2016-01-26 00:21] brandur commented on #264
I thought about this one a little more, and I'm now a little worried that I may have made a mistake when designing the original interface here :)

Because most of the collection-returning methods were already performing real fetches, I patched the iterator helper (`.autoPagingIterable()`) onto the already-materialized list objects. What it should probably have looked like instead is something a li

[2016-01-26 00:34] brandur commented on #264
And for what it's worth, this is almost certaily broken in other languages too (e.g. Ruby). We may just have gotten lucky so far in that many people are configuring credentials at the global level.

[2016-01-26 00:59] keithblaha commented on #264
I'm personally fine with either solution, however faster turn around time and lower complexity of the first proposal are attractive

[2016-02-17 10:23] olivierbellone commented on #260
I just deployed an update to the API reference:

- `createCard()` is no longer used (except for recipients). All payment sources creation requests now use `getSources().create(params)`.

- when retrieving a card or a bank account, there is a typecast, e.g.:
[code]

Do you think we should mark `createCard()` as deprecated?

[2016-02-17 21:10] brandur commented on #260
Nice docs changes @olivierbellone! Great work circling back around on this one.

Did you say above that we still need it for recipients?

[2016-02-26 12:51] kinfkong opened #268 "Expand support"
I think we should support the expand properties in the objects.

[2016-02-26 22:34] brandur commented on #268
Oof, you're absolutely right on this one. Unfortunately, I think we're going to need to commit to a fairly serious re-write of the code as it stands to get something like that in, but I'm going to tag this issue as "future" and leave it open so that we can keep an eye on it.

[2016-02-29 19:38] keithblaha commented on #264
Hey @brandur, I was just wondering if there has been any development on this issue yet

[2016-03-07 22:35] brandur commented on #264
@keithblaha I've added a proposed changed over in #269 that get this patched. Let me know what you think about the new interface.

[2016-03-09 23:11] keithblaha commented on #264
Thanks @brandur, the new interface looks good to me. Is there an ETA on merging?

[2016-03-15 16:04] hkratz opened #272 "Invoice is missing receipt_number"
According to https://stripe.com/docs/api#invoice_object Invoice objects should have a receipt_number property. This seems to be missing from the Invoice objects in the Java bindings.

[2016-03-15 18:03] #272 closed

[2016-03-18 09:56] gagansandhuz opened #274 "Unable to load Stripe java library in spring project using Maven"
Trying to implement Stripe as one of our payment gateway but when I tried to include it's library using maven getting below error.

`Offline / Missing artifact com.stripe:stripe-java:jar:1.45.0`

Have no clue why getting such an error..

[2016-03-18 16:12] brandur commented on #274
Hey @gagansandhuz,

The Stripe package is [available from Maven's central repository](http://www.mkyong.com/maven/where-is-maven-central-repository/) which should be contacted by default. [Is it possible that you're trying to work offline?](https://stackoverflow.com/questions/7932109/maven-local-repository)

One tweak that you might want to try is using the latest version 1.46.0 as well, although

[2016-03-21 19:00] brandur commented on #264
Tried another pass on solving this problem in #275. It's not quite as elegant, but continues to support everything that needs to be supported.

[2016-03-21 21:06] keithblaha commented on #264
Looks good to me. Have you tested against the gist? https://gist.github.com/keithblaha/018594d285b1568792d5

[2016-03-22 00:15] brandur commented on #264
@keithblaha It requires that this line:

[code]

Be change to this:

[code]

But yep, I just tried it, and it works.

[2016-03-22 00:30] keithblaha commented on #264
Awesome, thank you! :+1:

I'll be watching the PR for it's merge/release

[2016-03-22 00:34] #264 closed

[2016-04-07 23:29] lsoares opened #278 "Conflicting getter definitions for property "url":"
I got this, using
`java.lang.IllegalArgumentException: Conflicting getter definitions for property "url": com.stripe.model.StripeCollectionAPIResource#getUrl(0 params) vs com.stripe.model.StripeCollectionAPIResource#getURL(0 params)`

the problem in your class `StripeCollectionAPIResource` is:
![image](https://cloud.githubusercontent.com/assets/674045/14369898/bee4313a-fd20-11e5-850d-c06751c652cf.

[2016-04-07 23:48] andrewnelder commented on #278
Hey @lsoares,

This looks like it might be something very specific to your JVM.  I am unable to reproduce this warning.

Can I see your stack trace?  It's possible that this is being raised by another library (like Jackson).

Cheers,
Andrew

[2016-04-08 01:38] brandur commented on #278
+1. It does seem a little unusual that this wouldn't be showing up in our CI process.

That said, I don't think it would be too unreasonable to do a major version pass that involves just going through and removing all the interfaces marked deprecated. Most of them are just minor variations in names or arguments and it shouldn't be too terrible to upgrade to any of the non-deprecated versions.

[2016-04-08 11:01] lsoares commented on #278
here it is:
http://pastebin.com/40jwXpuz

[2016-04-08 16:06] brandur commented on #278
I've added a proposed fix in #279 and am open to hear feedback there. Thanks!

[2016-04-08 17:12] andrewnelder commented on #278
Yeah, I thought it was probably something like Jackson.  I think this should probably just be consistent rather than deprecated.  I'm in favor of @brandur's solution in this case.

[2016-04-08 21:14] #278 closed

[2016-05-04 16:16] javigs82 opened #287 "Request-ID at any time"
Hi @devs,
I'm starting to integrate stripe as part of our business process. We have defined a logging "in-house" system for tracking all request & responses. Request-Id is a mandatory data field to be recorded in order to have access to all stripe's server logs by request Id.

Could you please let me know how we can get the request-Id value of each request as stripe's documentation shown?

https:/

[2016-05-06 07:31] artem-zinnatullin opened #288 "Mark entities serializable/parselable to/from JSON with @SerializedName"
Without explicit annotations json parsing stops working after obfuscation (we use Stripe Android SDK and ProGuard the app).

[2016-05-08 21:05] andrhamm opened #289 "Convinience method on Event for getting an instance of the model it describes"
It would be great if the inline comments, wiki, or Stripe API docs themselves would provide some practical examples for working with event data from webhooks. Please point me in the right direction if I'm missing something.

There doesn't appear to be any first-class support for taking the event data from an `Event` and turning it into an instance of the model it describes. An instance method on `

[2016-05-09 00:51] olivierbellone commented on #289
Hey @andrhamm, you can do something like this:

[code]

and the resulting `stripeObject` will automatically be cast to the correct type. E.g. for an `invoice.payment_failed` event, it will be an `Invoice` object.

Of course, if you already know the object's type, you can initialize the object with the correct type yourself, e.g.:
[code]

[2016-05-09 00:51] #289 closed

[2016-05-09 14:34] andrhamm commented on #289
@olivierbellone Ah ha! Thank you for the quick reply, this helps a ton. I still can't help but feel some usage examples, preferably in the README, otherwise in the Wiki, would go a long way.

Thanks again 👍

[2016-05-10 19:32] olivierbellone commented on #288
Hey @artem-zinnatullin, sorry for the delay! In stripe-android's README, we mention that you need to exclude the `com.stripe` namespace from ProGuard: https://github.com/stripe/stripe-android#proguard

    -keep class com.stripe.** { *; }

That said, we will consider your suggestion. Thanks for sharing!

[2016-05-10 21:11] stevehall19 opened #290 ""Not a JSON Object: null" when parsing customer.source.updated event"
I've set up an Apache CXF rest service to receive Stripe webhooks. The CXF service just gives me the json String which I then pass to the Stripe Java SDK to unmarshall the json into an Event object.

This works fine if I attempt to do this with a charge.succeeded event. However, when attempting to unmarshall a customer.source.update event it fails with the following error: "java.lang.IllegalStateE

[2016-05-10 21:24] stevehall19 commented on #290
In the code (EventDataDeserializer ln 112-114 or so) it looks like "previous_attribute" is a special case and in this instance the JsonElement has a value of JsonNull. It may just be that a type check needs to be added here and return the empty map if the value is not of type JsonObject

`if("previous_attributes".equals(key)) {
				Map<String, Object> previousAttributes = new HashMap<String, Objec

[2016-05-10 23:39] olivierbellone commented on #290
This looks eerily similar to issue #183. I'll investigate further.

[2016-05-10 23:44] stevehall19 commented on #290
I does look similar. The null previous_attributes appears to be at root of it.

Should have put this in the issue, I'm using Stripe API version 2016-03-07 and stripe-java version 2.4.0

[2016-05-11 09:45] artem-zinnatullin commented on #288
Hi @olivierbellone, right, stripe-android suggests ProGuard rule, but that rule excludes all Stripe's code from ProGuard which make it useless because we can not shrink unused classes from your sdk.

[2016-05-11 14:49] brandur commented on #288
Is it possible to have ProGuard exclude Stripe classes from _obfuscation only_? It seems like that's the step that's causing the problem here.

And also, is it an issue practically speaking that Stripe's code doesn't get shrunk? It may be an issue if you can't shrink any package, but I wouldn't think that the Stripe package would introduce an unmanageable amount of overhead itself.

More generally

[2016-05-11 19:07] olivierbellone commented on #287
Hey @javigs82, sorry for the delay in replying.

Currently, the request ID is only surfaced for failed requests. When a request fails (i.e. when the API replies with a non-2xx status code), a `StripeException` is raised. You can retrieve the request ID for the failed request via the [`getRequestId()`](https://github.com/stripe/stripe-java/blob/075c4614f8342d73c3f03c18e5db87d6dad820c7/src/main/java

[2016-05-11 19:26] sterfried opened #292 ""Unable to lazy-load stripe objects" for TransferTransactionCollection.autoPagingIterable()"
I may be doing this incorrectly, but when I use this flow:

	TransferCollection transfers = Transfer.list(transfer_params, request_options);
	Iterable<Transfer> transfer_i = transfers.autoPagingIterable();
	Iterator<Transfer> transfer_it = transfer_i.iterator();
	while (transfer_it.hasNext()){
		Transfer transfer = transfer_it.next();
		TransferTransactionCollection transactions = transfer.transac

[2016-05-11 20:30] olivierbellone commented on #292
Hi @sterfried. I suspect the root of the issue lies with the API, not with the Java library. Would you mind writing to support using the form at https://support.stripe.com/email? Make sure to include the complete stack trace, with the uncensored transfer and request IDs.

[2016-05-11 20:39] sterfried commented on #292
@olivierbellone Thanks for the quick response! I will do that and will update if possible.

[2016-05-11 20:45] olivierbellone commented on #292
Also, just as an FYI, you can simplify your code using [enhanced for](https://docs.oracle.com/javase/specs/jls/se7/html/jls-14.html#jls-14.14.2) loops:

[code]

[2016-05-11 20:49] sterfried commented on #292
Yeah I saw that in the comment I referenced so tried that out, but didn't fix the issue. I'll use that going forward though, thanks for the tip!

[2016-05-11 21:03] olivierbellone commented on #260
Sorry, what I was suggesting was that we flag `Customer.createCard()` as deprecated. We wouldn't change `Recipient.createCard()` (if anything, I guess the entire `Recipient` class should be flagged as deprecated...).

Also, I just realized that there _is_ a `createBankAccount()` method in the `Customer` class :facepalm:, so if we do decide to flag `createCard()` as deprecated, we should do the sam

[2016-05-12 17:45] #290 closed

[2016-05-12 17:47] olivierbellone commented on #290
Hey @stevehall19. We fixed this uphill so that the "Send test webhook" button will no longer send events with `previous_attributes=null` (which doesn't happen in practice). I also patched the Java library so that if will be able to handle such events if they ever happen for any reason.

[2016-05-12 17:48] stevehall19 commented on #290
Great! Thanks for your help.

Steve

[2016-05-12 17:59] olivierbellone commented on #292
So this is probably a bug in the bindings after all. My understanding is that you are correct and it's basically the same issue as #264.

[`Transfer.transactions()`](https://github.com/stripe/stripe-java/blob/a074e49146e4612619856c0ccf2782de690b3c70/src/main/java/com/stripe/model/Transfer.java#L344) returns a `TransferTransactionCollection`, and `TransferTransactionCollection` extends `StripeColle

[2016-05-12 18:09] sterfried commented on #292
Thank you for the update -- I had a feeling, the two issues were so similar in context!

[2016-05-12 18:12] olivierbellone commented on #292
@sterfried We'll try to fix this ASAP, but in the meantime, you can get around this by handling the pagination yourself (for the transactions). Something like this should work:

[code]

[2016-05-13 08:18] javigs82 commented on #287
Hi Oliver, thanks for your answer.
I will fork this project and return the request-ID on the LiveResponseStripe.class.

In my opinion requestId is a mandatory data to build a solid audit trail over payments operations in PSPs.

Regards,
Javier.

[2016-05-13 08:31] #287 closed

[2016-05-20 17:22] brandur commented on #260
Ah, got it! And yeah, it seems reasonable to me to try and remove some of the crazy amount of surface area we have in this API, so I'm +1 on deprecation. Took a stab at it in #293.

[2016-05-20 17:32] #260 closed

[2016-05-20 19:56] brandur commented on #292
Hey guys, sorry about the trouble here! It looks like @olivierbellone already determined the heart of the issue, which seems to be due to an omission on my part in #275.

I've opened #294 as a possible fix for the time being. Let me know if you have any questions or comments.

[2016-05-23 13:46] #292 closed

[2016-05-23 13:50] brandur commented on #292
Hi @sterfried, version 2.5.1 should now contain helpers for _all_ collection classes, which should allow you to pass parameters and request options to your transactions list in the example you provided above. Sorry about the trouble here!

[2016-06-02 20:34] wildunne opened #297 "Accessing data in WebHooks"
I was just wondering how you take the validated Event object and turn it into an object of the appropriate type?

For example take an Event object which is a `invoice.payment_failed` and retrieve the Invoice that should be contained within.

[2016-06-02 22:11] brandur commented on #297
Hi @wildunne,

Thanks to some crazy reflection magic assistance from GSON, the embedded `object` field within an event should be castable to the model associated with the event. Here's a modified example from the test suite where we pull an email out of a casted `Account`:

[code]

I'm going to add an additional test case in here so that at least there'll be one existing code example of this opera

[2016-06-02 23:01] brandur commented on #297
Added a basic test in #298.

I'm going to close this one out for now! Let us know if you have anymore questions about it.

[2016-06-02 23:01] #297 closed

[2016-06-05 21:17] wildunne commented on #297
Nice, I assumed this was the case but didn't get the opportunity to test it yet.

Thanks for adding the demos!

[2016-06-09 08:32] sowdri opened #299 "Fileupload from Google Appengine"
File objects cannot be created on Google App Engine. So in order to upload documents for id_verification it will be great if FileUpload can support InputStreams such that files from GCS (Google Cloud Storage) or direct multi-part file uploads could be pushed to stripe.

[2016-06-09 17:24] brandur commented on #299
+1.

This is very similar to stripe/stripe-python#227, and as noted there, we have a bit of an issue in that backend (thanks to Rack) in that incoming multipart file uploads without a filename are not currently handled. One of my colleagues who is coming back after finishing up school has expressed interesting in fixing this problem though.

I'd suggest we wait for that fix; once it's in, it shoul

[2016-06-09 17:49] praboud commented on #299
@sowdri as was surfaced in the other issue, you can upload files to Stripe directly from the browser with your publishable API key. [1] IMHO, this is overall better for most use cases than forwarding the file upload through your server, and would also get around the proximate issue ie: that GAE doesn't support creating files.

[1] https://stripe.com/docs/file-upload

[2016-06-10 00:37] sowdri commented on #299
Thank you. I'll upload directly from the browser for now.

[2016-06-10 02:44] sowdri commented on #299
Basically the problem is that, first the file has to be uploaded to stripe directly via. browser, then I've to get the file_id and send it to the server and then associate it as id_verification document. Doable nonetheless. Otherwise I can do it in a single shot. And since we are a platform we are doing id_verification for multiple clients, it will just be more convenient if we have the support fo

[2016-06-10 02:53] praboud commented on #299
It's always two requests to Stripe, though - one to upload the file to Stripe, and one to set `account.legal_entity.verification.document` to the file token you got in the first step. This doesn't change whether the upload step is done by the client or the server.

To make explicit what I glossed over previously, doing the file upload from the browser keeps sensitive files off your servers, which

[2016-06-10 10:09] appmagnetics commented on #268
Expand one property works if specified by param passed to APIResource.request

		Map<String, Object> params = new HashMap<String, Object>();
		params.put("expand[]", "balance_transaction");

Can you confirm that over this interface you cannot use multiple expands like this

		params.put("expand[]", "balance_transaction");
		params.put("expand[]", "customer");

Since the Map does not allow multiple

[2016-06-10 17:36] brandur commented on #268
@appmagnetics The library will automatically unpack any `List` given as a parameter value into the required Rack-style array encoding. So you should be able to do this:

[code]

[2016-06-10 18:38] appmagnetics commented on #268
Wow! it worked. I appreciate a fast answer from your side!

[2016-06-10 18:41] brandur commented on #268
Great! And no worries! That's what we're here for.

[2016-06-11 16:01] FingolfinTEK opened #300 "Account deserialization does not include business and suport URLs"
Hi guys,

I've noticed that the Account deserialization fails to properly deserialize _businessURL_ and _supportURL_ fields, probably because of changes that went in #279 - now, GSON will expect the JSON fields to be _business_u_r_l_ and _support_u_r_l_ instead of _business_url and _support_url_ that come back from the server.

You can refer to [this commit](https://github.com/FingolfinTEK/stripe-

[2016-06-12 18:50] brandur commented on #300
Fixed in #301.

[2016-06-12 18:50] #300 closed

[2016-06-13 15:40] brandur commented on #299
Thanks @praboud!

[2016-06-16 20:26] jxtps commented on #211
Any progress on this? Type safety would be extremely helpful, especially when upgrading to new API versions.

[2016-06-16 21:34] brandur commented on #211
Alas, no :/ My apologies.

We totally understand the frustration here though, and would like to get this and other major bindings deficiencies fixed as soon as we can commit some resources.

[2016-06-16 21:57] hardtoe commented on #211
Hey Guys, I don't have time to create this in a production-worthy fashion, but at least I can share what I did to generate the type-safe API I used:

https://gist.github.com/hardtoe/484a60ccb84ad2bbe829238e119be5e0

The gist is a bit of html and javascript I added to the stripe documentation page.  If you open up the modified html file in a web browser it will output the Java code.  Pretty janky,

[2016-06-16 21:59] hardtoe commented on #211
Almost forgot, here's the generated Java code:

https://gist.github.com/hardtoe/35241100ae95faf9daef858be90c1c9e

And the base class it uses:

https://gist.github.com/hardtoe/0237dad6d7a4911a979da3668e83684d

[2016-06-16 22:05] hardtoe commented on #211
And finally, a couple examples on how to use the API, otherwise it might be incomprehensible:

https://gist.github.com/hardtoe/c865ef2776db1b0bfea0df02164a9860

Basically it follows the fluent programming style in java.  Required parameters are arguments in the factory function for building a request.  Optional parameters are specified using methods on the builder object.  JavaDoc is pulled in fro

[2016-06-18 00:36] brandur commented on #211
@hardtoe Wow, thanks a lot for all the contributions! It looks like you've already done a lot of work here. It's going to take a bit of doing, but we're going to be trying to integrate something very close to what you already have here. This will help.

[2016-07-21 20:59] pugnascotia commented on #96
I hit this today when trying to write unit tests for a webhook processor - it would be great if serialisation / deserialisation worked generally.

[2016-08-03 12:35] stefankatic opened #305 "Update API reference for canceling subscription"
Hello,

please update https://stripe.com/docs/api/java#cancel_subscription
there is no such method as Subscription.delete(). In tests on github you use Subscription.cancel().

Thanks

[2016-08-03 13:25] remistr commented on #305
Hey @stefankatic, thanks a lot for the report, I'll make sure to get this fixed ASAP!

[2016-08-03 13:25] #305 closed

[2016-08-08 12:38] nitesh-jain-avalara opened #306 "showing me com.stripe.model.Source is not present"
I have added all required jars in my build path.I copied the whole code from here .
showing  me that import   com.stripe.model.Source is not present.
Please help me , what could be possible resolution.

Thanks,
Nitesh

[2016-08-08 16:04] olivierbellone commented on #306
@nitesh-jain-avalara GitHub issues are mostly for bugs and feature requests about the Java library itself. If you need help with using the library itself, you need to write to support: https://support.stripe.com/email.

That said, if you have both `stripe-java-2.8.0.jar` and `gson-2.2.4.jar` in your classpath, you should be able to import everything from `com.stripe`.

[2016-08-08 16:04] #306 closed

[2016-08-30 22:01] ptahchiev opened #307 "Do you really need gson?"
Hello I'm building a spring-boot application and I have more than 400 dependencies. Out of those 400 dependencies _only_ stripe is depending on `gson` and spring-boot is smart enough to detect if you have a `jackson` dependency or `gson` dependency to detect which class to use so it actually works with both. I know it's shit there's no native json parser in Java and there might be one in Java 9 bu

[2016-08-30 23:26] brandur commented on #307
Hi Petar,

Taking a look at this, unfortunately it seems that GSON's entrenched itself a little bit in the library. A project to add support for multiple dependencies might be laudable, but to be honest, would probably not rank favorably compared to anything else we're working on right now.

I'd certainly be interested in getting us over to a standard library JSON package if one ever appeared thou

[2016-09-01 09:54] Tritoniwe opened #308 "Wrong customer_balance type"
https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/Customer.java#L16
it is specified as Integer, however, it is possible to set a number that exceeds int max value through the dashboard or via API.

[2016-09-01 10:12] olivierbellone commented on #308
Hey @Tritoniwe, thanks for reporting this. This looks easy enough to fix, so we should have a patched version released shortly.

[2016-09-02 15:37] VolodymyrTkachuk opened #310 "NoSuchMethodError exception on Charge.create"
I tried on versions 2.7 and 2.8 and in both cases got same exception. Here is my code:

[code]

And I'm getting an exception:

Looks like some configuration problem, but I did not find what is wrong.

Any ideas, what may be wrong?

[2016-09-02 16:24] olivierbellone commented on #310
That's a weird one. Maybe it's a version conflict? Is there anything in your project that uses a different version of Gson than the one used by our Java bindings (2.2.4)?

[2016-09-02 17:11] VolodymyrTkachuk commented on #310
@olivierbellone Yes, I missed that, 2.1 also was referenced from the project. I cleared dependencies, and now it works as designed.

[2016-09-02 17:11] #310 closed

[2016-09-02 17:12] olivierbellone commented on #310
Awesome, thanks for taking the time to close the loop!

[2016-09-05 03:39] pandacalculus commented on #93
+1 - we've also hit this when attempting to write tests that mock out the actual calls to Stripe. Have to jump thru some ugly hoops to get the job done.

[2016-09-05 23:46] andrewnelder opened #312 "Account `delete()`-method should not require arguments"
According to the documentation, the Account `delete()`-method requires no arguments; however, our implementation requires that you pass at least a `null`-value.

[Stripe API Docs - Delete Account (Java)](https://stripe.com/docs/api/java#delete_account)

[Account.java @ L297 - L307](https://github.com/stripe/stripe-java/blob/728d17f1a26c6b0ac13e83490af9922a006612bc/src/main/java/com/stripe/model/Ac

[2016-09-07 15:50] leothekim opened #313 "Release notes with git commit subjects in them"
I find it helpful to have a list of git commits when tagging a release in Github, e.g.

[code]

What do y'all think of adding the subject lines & short sha1s & authors from all commits since the previous release? It's nice to see a summary of what has changed, and the release emails are virtually bare.

[2016-09-08 16:52] brandur commented on #313
Hi @leothekim,

Have you seen our CHANGELOG?
https://github.com/stripe/stripe-java/blob/master/CHANGELOG

This is probably going to be better than looking at commits in the majority of cases because our commit hygiene isn't amazing and it won't contain noise like merge commits.

If you're really looking for the commits though, it's pretty trivial to look at these with Git:

[code]

Or with GitHub:

[2016-09-08 18:23] leothekim commented on #313
Thanks, @brandur. The `git log` suggestion gives you info that can be gotten elsewhere, but it would have been a start. We do it internally because it saves other devs a little time from digging it up themselves, and it's not uncommon for other projects to have some background in their release emails, e.g. https://github.com/pantsbuild/intellij-pants-plugin/releases or https://github.com/mongodb/m

[2016-09-08 18:52] brandur commented on #312
Good catch @andrewnelder! Added a patch in #314.

[2016-09-13 15:56] huxaiphaer opened #315 "**java.lang.NoSuchMethodError: com.google.gson.Gson.getAdapter**"
**Android** **Java** ** Retrofit**

I am trying to retrieve the listView by using a RecyclerView + Retrofit + Picasso + OkHttp
but am getting this error **java.lang.NoSuchMethodError: com.google.gson.Gson.getAdapter**

[

 java.lang.NoSuchMethodError: com.google.gson.Gson.getAdapter
                                                                                   at retrofit2.converter.gson.GsonC

[2016-09-13 16:11] olivierbellone commented on #315
Hey @huxaiphaer, our Java library requires Gson 2.2.4 (cf. [here](https://github.com/stripe/stripe-java#others)). It looks like you're using 2.0.0. Can you try updating to 2.2.4 and see if that solves the issue?

[2016-09-13 16:38] huxaiphaer commented on #315
Thanks pal @olivierbellone . It has loaded . But AM still facing some problem , the lsitView still doesnt come it shows **No adapter attached; skipping layout** . I am using a localhost with an Emulator IP Address 10.0.2.2

[2016-09-13 16:46] olivierbellone commented on #315
@huxaiphaer Sorry but that new error doesn't look related to the Stripe Java library, so I can't really help you there.

GitHub issues are specifically for bugs or feature requests. If you need technical help with either the [Stripe Java library](https://github.com/stripe/stripe-java) or [Stripe Android SDK](https://github.com/stripe/stripe-android), you should contact Stripe's support directly at

[2016-09-13 16:46] #315 closed

[2016-09-13 17:25] brandur commented on #313
Hi @leothekim,

For the time being I'm going to take a relatively cheap solution to this by just including a link to the CHANGELOG within the release's body. It'll look something like this:

Agreed that detailed notes as seen in the other projects that you link above would be better, but I'll save that for a more comprehensive refactoring phase. Currently the Java bindings are the only language th

[2016-09-13 17:25] #313 closed

[2016-09-22 08:41] skanel opened #319 "Request api for scala"
Hi Stripe,

I did not found the api for scala, Do you have any recommend for scala?

Thanks

[2016-09-22 16:30] brandur commented on #319
Hi @skanel,

Sorry, but we don't maintain an official SDK for Scala :/ Although not the most optimal solution, you should be able to call into this one (stripe-java) from your Scala code.

There are a few unofficial libraries out there, but I couldn't find any that appear to be actively maintained, so you may have to use them at your own risk.

I'm going to close this out, but let us know if you h

[2016-09-22 16:30] #319 closed

[2016-09-23 21:03] kyleconroy opened #320 "StripeTest.java should be split into smaller test files"
The current file is really larger. We should test each resource in a different file.

[2016-09-23 22:30] sterfried opened #321 ""Unable to lazy-load stripe objects" for TransferTransactionCollection.autoPagingIterable() (Again)"
I'm getting the same issue as before with #292 and wanted to make sure I was doing this correctly. I've upgraded the library to the latest version, 2.10.0. and Stripe.VERSION reports the same.

Below is the snippet in question:

`String stripe_user_id = "acct_XXXXXXXXXXXX";`
`RequestOptions request_options = RequestOptions.builder().setStripeAccount(stripe_user_id).build();`
`Map<String, Object> t

[2016-09-28 18:18] brandur commented on #321
Hey @sterfried, sorry to hear about the continuing trouble here :$ @dpetrovics is going to take a look into this and we'll hopefully have something for you soon.

[2016-09-28 22:25] sterfried commented on #321
@brandur No problem. It could possibly be my implementation, but the last time this same error popped up, it was out of my hands so figured I'd see what you guys thought.

Thanks for looking into it!

[2016-10-03 20:16] dpetrovics commented on #321
Hi @sterfried - sorry for the delay! I'm looking at this now and hope to get back to you shortly.

[2016-10-04 00:25] dpetrovics commented on #321
Hi @sterfried - as of now I haven't been able to reproduce your error with a test account. The auto pagination for Transfers seems to work well for me across page boundaries. If you'd like, can you email me (dpetrovics@stripe.com) with a code snippet that has dates that consistently fail for you? It might help in identifying what you're seeing.

[2016-10-04 18:00] sterfried commented on #321
@dpetrovics Great, thanks for your help! I've sent along an email with some example code.

[2016-10-05 21:13] dpetrovics commented on #321
HI @sterfried , thanks again for discovering this - we should have a fix coming in #322!

[2016-10-06 22:10] sterfried commented on #321
@dpetrovics Thanks for the quick response!

[2016-10-06 22:28] dpetrovics commented on #321
No problem! We've merged in the fix and released as `2.10.1`. Closing this now, but let us know if it doesn't solve your issue.

[2016-10-06 22:28] #321 closed

[2016-10-10 17:38] lnhrdt commented on #93
+1 to echo everyone else. It's a difficult API to have to work with in a TDD environment.

[2016-10-10 21:54] #274 closed

[2016-10-11 08:50] appmagnetics commented on #308
Hi, any news on new release? We are experiencing the same issue.

[2016-10-12 19:27] brandur commented on #308
Oops, sorry about the delay here! We've got a pull open in #309 and will push it through soon.

[2016-10-17 22:44] #308 closed

[2016-10-17 22:47] brandur commented on #308
Released as 3.0.0!

[2016-10-28 00:17] dpetrovics commented on #320
closed by #323

[2016-10-28 00:17] #320 closed

[2016-11-01 00:31] mikesir87 commented on #211
Just wanted to chime in too... I see this is on the roadmap, but haven't seen any progress made on the roadmap.  Are there any design docs/thoughts about where the library should/will be going?  I wouldn't mind helping pitch in, as long as there's at least an idea first. Thoughts?

[2016-11-03 18:35] brandur-stripe commented on #211
Sorry, we have haven't had a lot of movement on this one so far :/

The final solution _probably_ looks like a little something like resource parameter-specific structures, a little like what's in stripe-go:

https://github.com/stripe/stripe-go/blob/84484ce43b9b0edbdfde86a4c8f9d082df9e3638/account.go#L54,L65

But obviously backporting these for every endpoint is going to be a huge amount of work.

[2016-11-03 18:36] brandur commented on #211
Sorry, we have haven't had a lot of movement on this one so far :/

The final solution probably looks like a little something like resource parameter-specific structures, a little like what's in stripe-go:

https://github.com/stripe/stripe-go/blob/84484ce43b9b0edbdfde86a4c8f9d082df9e3638/account.go#L54,L65

But obviously backporting these for every endpoint is going to be a huge amount of work. We

[2016-11-15 15:47] simon-marino commented on #268
+1 on this, see https://github.com/stripe/stripe-android/issues/81

[2016-11-18 14:12] vtherli opened #333 "Stripe no longer supports API requests made with TLS 1.0"
Stripe no longer supports API requests made with TLS 1.0. Please initiate HTTPS connections with TLS 1.2 or later. You can learn more about this at https://stripe.com/blog/upgrading-tls.

Gets the above error when I try to charge the card in test environment in Google App Engine (Java 7)

[2016-11-18 16:50] ob-stripe commented on #333
Hi @vtherli. TLS 1.2 is not enabled by default in Java 7. You should upgrade to Java 8 if possible, otherwise you might be able to enable it by adding this flag to your Java command line: `-Ddeployment.security.TLSv1.2=true` (cf. [this StackOverflow answer](http://stackoverflow.com/a/36119342/5307473)).

As this is a problem with your own backend server and not with the library itself, I'm going t

[2016-11-18 16:50] #333 closed

[2016-12-15 19:20] stephenostermiller commented on #310
I ran into this as well.   Stripe is not compatible with gson-2.1.jar which is what my project had been using.

[2016-12-24 06:37] musby commented on #299
Hi I've been searching for ages about how to upload directly from the browser, as is suggested in this case of using Stripe with Google App Engine, so I was hoping I could continue the conversation here on how to accomplish that.

I have been trying with AJAX but from my effort and research it seems it is not possible to get the path to the local file because of security reasons.  The code below s

[2016-12-24 10:34] remi-stripe commented on #299
@musby This example code should work: https://jsfiddle.net/captainapollo/d8yd3761/

[2016-12-24 13:12] musby commented on #299
@remi-stripe

It worked!!  You are a life saver my friend.  I was working on that for like 3 days.

[2017-01-06 19:53] dpetrovics-stripe commented on #299
Glad we could help!

[2017-02-14 13:35] ob-stripe commented on #312
Fixed in #342.

[2017-02-14 13:35] #312 closed

[2017-02-20 17:20] mguillet opened #347 "StripeRawJsonObject returned instead of Source when unmarshalling an Event source.chargeable"
When creating a new source, our backend receive this kind of event: [event.json](https://github.com/stripe/stripe-java/files/788102/event.txt)

The object associated to this event is supposed to be a [Source](https://stripe.com/docs/api#sources).

That's not what the current API (3.10.0) is returning me:
[code]
The `object` I get is a `StripeRawJsonObject` instead of a `Source`. To get a source, I

[2017-02-20 17:53] ob-stripe commented on #347
Hi @mguillet, you're entirely correct: it looks like we forgot to add source objects to the event deserializer. I have prepared a patch here: #348 and we will release an updated version soon.

Thanks for reporting this and sorry for the inconvenience!

[2017-02-21 08:10] mguillet commented on #347
Thanks @olivierbellone for the quick feedback! Feel free to close this issue whenever your PR is merged.

[2017-02-21 18:36] ob-stripe commented on #347
Closed #347 via #348.

[2017-02-21 18:36] #347 closed

[2017-03-10 05:15] semitop7 opened #350 "Bug in OrderReturnCollection"
https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/OrderReturnCollection.java
In OrderReturnCollection Should be so:
[code]
Replace **Order** to **OrderReturn**.

[2017-03-10 05:23] semitop7 opened #351 "Add new field and Expandable object support to Order"
https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/Order.java

It is possible to add some fields to Order.class, such as:
[code]
[code]
Using API Endpoint https://api.stripe.com/v1 in the JSON response from server they are present.

[2017-03-13 21:14] #350 closed

[2017-03-13 21:17] brandur-stripe commented on #351
We've released a patch for this in 4.0.0. Thank you for reporting the problem!

[2017-03-13 21:17] brandur-stripe commented on #350
We've released a patch for this in 4.0.0. Thank you for reporting the problem!

[2017-03-15 19:21] chrylis opened #354 "Update examples?"
The new API appears to support JavaBeans-style configuration, but the examples still show the old JS-style map-based interface. It would be helpful, especially on the main README, to demonstrate the type-safe approach.

[2017-03-17 10:25] #351 closed

[2017-03-17 11:04] ob-stripe commented on #354
Hi @chrylis. While Stripe objects do have accessors for each attribute, those accessors are only used to retrieve values from objects that are returned _from_ the API.

In order to pass parameters when sending requests _to_ the API, it is still necessary to use maps.

I'm going to close the issue, but please feel free to reply if you have more questions. You can also reach out to Stripe's support

[2017-03-17 11:04] #354 closed

[2017-03-20 15:59] techyrajeev commented on #260
In test cases createBankAccount are still being used.
https://github.com/stripe/stripe-java/blob/master/src/test/java/com/stripe/functional/CustomerTest.java

`    @Test
    public void testCustomerBankAccountAddition() throws StripeException {
        Customer createdCustomer = Customer.create(defaultCustomerParams, supportedRequestOptions);
        String originalDefaultCard = createdCustomer.ge

[2017-03-20 17:35] ob-stripe commented on #96
Just realized this was handled in #339, which was released in 3.7.0.

[2017-03-20 17:35] #96 closed

[2017-03-24 22:46] anelder-stripe opened #355 "`rule`-attribute of ChargeOutcome is broken"
API Version [2017-02-14](https://stripe.com/docs/upgrades#2017-02-14) changed the type of the '[rule](https://github.com/stripe/stripe-java/blob/dd9529f48388b26d08b4377335711b2ad0cfd875/src/main/java/com/stripe/model/ChargeOutcome.java#L9)'-attribute of `ChargeOutcome.java`.  Needs to either be replaced with a String-type or support expansion.  `ChargeOutcomeRule.java` may also need to be removed;

[2017-03-24 22:49] anelder-stripe commented on #355
In order to make this a non-breaking change, we'll actually need to support both cases.  So expansion is likely the better option here.

[2017-03-24 23:25] brandur-stripe commented on #355
Nice find!

I added an attempted fix in #356. Maintaining backwards compatibility is a little awkward though because the naming around `getOutcome` has been taken by the deprecated version, so I had to add a `getOutcomeID`, which is kind of a brand new convention that I just made up.

Given that charge outcomes are relatively new anyway, we may want to consider just releasing a breaking change ins

[2017-03-24 23:33] anelder-stripe commented on #355
I'm not opposed to a breaking change, provided we set in time somewhere that associates the current release with the previous API Version.  That being said, if we can get around it, we probably should.

We had talked about implementing more or less what you did, while we were discussing this async.  So from my perspective what you did is fairly peaceful and easy-enough to change later.

👍

[2017-03-29 14:03] jjlueck-tock commented on #355
Quick note from someone waiting for a solution to this issue. Webhook events that come from Stripe for those of us on the latest Stripe API version and latest stripe-java API that happen to contain the String version of the outcome.rule field will fail to parse into an `Event` object. We encountered this last night.

[2017-03-30 20:04] brandur-stripe commented on #355
@anelder-stripe After thinking about this a little more, I think adding the `getXXXId` style accessor is a pretty good idea. It's relatively consistent with the rest of the code, and allows us to introduce this type of change and stay backwards compatible. I had the implementation wrong in #356, but I think that #358 should now do it. Would you mind taking a look?

@jjlueck-tock Sorry about the de

[2017-03-30 20:09] jjlueck-tock commented on #355
👍

[2017-04-04 19:18] jjlueck-tock commented on #355
Hate to bug y'all on this issue, but any progress? we still can read some of our webhook events because of this.

[2017-04-04 19:35] #355 closed

[2017-04-04 19:38] brandur-stripe commented on #355
Hi @jjlueck-tock, my apologies for the delay here. I just pushed a patch out in 4.1.0. Can you give that a shot?

[2017-04-04 22:43] jjlueck-tock commented on #355
Yup, we'll push this into production tomorrow and I'll report back if we encounter any errors.

[2017-04-10 18:02] trevorinman opened #363 "Managed account Card instances don't expose the available_payout_methods attribute"
I'm trying to create a Managed account using `stripe-java`, with a debit card attached as its payout destination, and confirm that the debit card supports Instant Payouts.

Per the Stripe API docs, a Card attached to an Account has an `available_payout_methods` attribute that lists the payout methods that that Card supports:

https://stripe.com/docs/api/java#account_card_object-available_payout_me

[2017-04-10 21:01] trevorinman commented on #363
Here's a PR proposal to fix this: https://github.com/stripe/stripe-java/pull/364

[2017-04-19 18:16] #363 closed

[2017-04-23 04:03] adewolfe opened #367 "Account not updated with Payout changes"
Stripe API: 2017-04-06
Java Library: 4.3.0

From the Payouts announcement at https://stripe.com/docs/transfer-payout-split

These changes are not reflected in the Account object as of release 4.3.0

[2017-04-23 07:58] remi-stripe commented on #367
Thanks for the report! I pushed a fix in https://github.com/stripe/stripe-java/pull/368

[2017-04-24 23:46] #367 closed

[2017-04-24 23:58] brandur-stripe commented on #367
Remi's fix has been pushed in version 4.4.0.

[2017-04-28 21:59] jxtps commented on #211
It's been 1.5+ years, was put on the roadmap for v2 and we're now on v4.

I realize that dynamic languages are all the rage, but statically typed folks need some love too ;)

[2017-04-28 23:26] brandur-stripe commented on #211
Just a minor pedantic note: we version semantically so the only thing a major bump means is that we've introduced something that's not backward compatible; it's not like we're packing new features in there or anything so I wouldn't read into it too much.

That said, I hear you. I'm not happy with the current state of things here. As remarked before, it's unfortunately a huge overhaul and we've got

[2017-04-29 23:46] carlsverre opened #371 "No three_d_secure attribute on the Card object"
According to the docs the Card object should have a three_d_secure attribute.

https://stripe.com/docs/api#card_object-three_d_secure
https://stripe.com/docs/testing#3ds-cards

I have looked around the code and it doesn't seem like that is being exposed anywhere in the stripe-java API.  Am I missing something or is this an oversight.

I would switch over to the Source api (rather than creating Car

[2017-05-01 17:57] brandur-stripe commented on #371
Hi there, this is an oversight, and we're sorry about the trouble. I've added a fix in #372 and we should have it rolled out relatively soon.

Thanks for the report!

[2017-05-02 15:26] #371 closed

[2017-05-02 15:31] brandur-stripe commented on #371
Released as version 4.7.0.

[2017-05-03 23:45] carlsverre commented on #371
Thanks!

[2017-05-03 23:57] carlsverre commented on #371
@brandur-stripe I just tested this version with 4000000000003063 which should have three_d_secure set as required and instead `getThreeDSecure` is returning null for that card.  Any idea whats going on?

[2017-05-04 03:03] fclairamb opened #373 "Transfer's date field return as a double instead of a long"
Our Stripe integration started to fail (at least in TEST so far).

From the Stripe API, while performing a transfer request, the `date` property of the `Transfer` entity is returned with a double (nanosecond precision epoch time) instead of a long (second precision epoch time). And the java-library fails on this `date` property with this error:

[code]

The go library seems unaffected as this `dat

[2017-05-04 07:50] ob-stripe commented on #373
Hey @fclairamb, thanks for reporting this! We're investigating the issue. I'll reply here when I know more.

[2017-05-04 08:23] ob-stripe commented on #373
@fclairamb This problem was caused by a bug on the API's end, where we mistakenly started returning floats instead of ints for the `date` property on internal transfers (i.e. transfers between Stripe accounts, not payouts from a Stripe account to a bank account).

The issue is now fixed. Sorry for the inconvenience! I'm going to close the issue as this was a problem with the API and not with the J

[2017-05-04 08:23] #373 closed

[2017-05-04 12:42] ob-stripe commented on #371
@carlsverre The `three_d_secure` attribute is only returned for accounts that have been invited into our "old" 3DS beta. For all other accounts, no `three_d_secure` attribute is returned on card objects, so it's expected that `getThreeDSecure()` would return `null` in this case.

If you want to use 3D Secure on a newer account, you need to use our new sources API: https://stripe.com/docs/sources/t

[2017-05-06 00:26] carlsverre commented on #371
I see... good to know.  Does this library support adding a Source to a Customer?  I see that in the GUI this should be possible - but I couldn't find a way to do it in this library.

[2017-05-09 08:56] ob-stripe commented on #371
@carlsverre Yes. This isn't clearly documented, but you can add attach a source to a customer just like cards/bank accounts:

[code]

Note that the source must be chargeable before it can be attached to a customer.

[2017-05-09 19:06] carlsverre commented on #371
Thanks @ob-stripe, I will try switching to that.  Would love to see the docs updated to include that.

[2017-05-15 13:43] jvanhees commented on #333
I'm having the same issue. I've enabled TLSv1.2 and when I check the supported SSL protocols (SSLContext.getDefault().getSupportedSSLParameters().getProtocols()), I'm getting the following array: [SSLv2Hello, SSLv3, TLSv1, TLSv1.1, TLSv1.2].

When I log the http request, It appears that the request is made with TLS1: *** ServerHello, TLSv1 . It seems to me that the error lies within the Stripe jav

[2017-05-15 15:46] ob-stripe commented on #333
@jvanhees This is likely something specific to your environment. I see that you've written to support separately -- someone will reply to you there.

[2017-05-28 11:49] a-panchenko opened #377 "Complete javadoc for com.stripe.net.Webhook.Signature#verifyHeader"
There is a need to specify that `tolerance` parameter of `com.stripe.net.Webhook.Signature#verifyHeader` method is in seconds, rather than milliseconds. Currently, it's unclear from the javadoc unless one read the code of the method.

[2017-05-29 09:07] ob-stripe commented on #377
PR in #378.

[2017-05-30 09:33] pibernardi opened #379 "Missing Event account field"
The API Upgrade of 2017-05-25 says that

"The user_id field of Connect-related event objects (and webhooks) has been renamed to account."

https://stripe.com/docs/upgrades

But the Event class still has the old "userId" field!

[2017-05-30 12:25] ob-stripe commented on #379
Hey @pibernardi, thanks for reporting this. There is already a PR in the works for this: https://github.com/stripe/stripe-java/pull/374. An updated version of the library should be released soon.

[2017-06-13 10:43] sowdri commented on #268
Needed expand support for `destination` field on `Payout` object.

[2017-06-13 13:40] ob-stripe commented on #268
Hi @sowdri. We're currently working on adding support for all expandable attributes. You can see the PR here: https://github.com/stripe/stripe-java/pull/381

The PR should be merged and a new version released verys soon.

[2017-06-16 12:19] ob-stripe commented on #268
As of [v5.3.0](https://github.com/stripe/stripe-java/blob/v5.3.0/CHANGELOG#L1-L3), the Java library supports expanding all expandable attributes! 🎆

[2017-06-16 12:19] #268 closed

[2017-06-28 04:30] Nuwan-91 opened #388 "Received unknown parameter: currency; request-id: req_AvOLrDeRTNVyva"
There is an issue when trying to interrogate  Stripe  using it's "Java API"

When trying to get the value for "currency", for which I have already set a value(I am going to create a new customer account) there is an error popping up saying that # **"**Received unknown parameter: currency; request-id: req_AvOLrDeRTNVyva**"**

The exact same error message is popping up not only for currency, but als

[2017-06-28 08:27] ob-stripe commented on #388
Hey @Nuwan-91. I have checked the three request IDs you mentioned. All three requests were [customer creation requests](https://stripe.com/docs/api#create_customer).

None of the parameters you mentioned (`currency`, `object`, `created`, `delinquent`,  `discount` or `livemode`) are valid parameters when creating a customer, so the API rejecting these parameters is the expected behavior.

As this i

[2017-06-28 08:27] #388 closed

[2017-06-28 08:28] ob-stripe commented on #379
Closed via #374.

[2017-06-28 08:28] #379 closed

[2017-06-28 08:28] ob-stripe commented on #377
Closed via #378.

[2017-06-28 08:28] #377 closed

[2017-07-03 11:10] iLavryk opened #389 "Idempotent Requests"
Hello,
I faced an issue when i do charge request to the customer.
I generate and put an idempotent key and make a charge so first time it works fine.
Just for example, Due to network problem i received ApiConnectionException and i do not know if the charge was really passed on stripe side. Then i try to make a charge again. And will receive another exception which says: "Requests should have uniqu

[2017-07-03 11:17] ob-stripe commented on #389
Hi @iLavryk. Idempotent requests require that you send the exact same parameters each time.

If you send two requests with the same idempotency key and the same parameters, then the second request will get the correct reply, i.e. the same reply that the first request would have gotten if there hadn't been network issues. So for example if you're creating a charge, and the request succeeded, you'd

[2017-07-03 11:17] #389 closed

[2017-07-07 00:22] kjc-stripe commented on #211
I've made a first pass generating value objects for each API method in https://github.com/stripe/stripe-java/pull/392. I'd love to hear what people think of this approach. I personally really like it.

[2017-07-22 00:31] codylerum opened #396 "Customer#getDefaultSourceObject returns null when default source exists"
Version 5.7.1
Java 8u131

[2017-07-22 02:23] codylerum commented on #396
Missed the expand default_source option

[2017-07-22 02:23] #396 closed

[2017-08-28 07:08] ColCol94 opened #397 "Problem with verified account and payouts"
Hello,

Sorry to bother on here as I could not receive a response via email. Is there any reason why a verified account might be receiving payout push backs daily for a week? Not my first payment, just a standard deposit. Auto deposit set to on daily, as well as never having received a chargeback or fraudulent charge. If I try for a manual payout, message reds 'Cannot create payouts; please contac

[2017-08-28 12:15] remi-stripe commented on #397
@ColCol94 Unfortunately, this form is used to discuss issues with our Java library. Your question is really specific to your own Stripe account and you need to talk to our support team directly from our contact form here: https://support.stripe.com/email

[2017-08-28 12:15] #397 closed

[2017-08-31 07:03] santiarias opened #400 "Account.retrieve() always gets legalEntity Null"
Account.retrieve()  always gets legalEntity null

https://stripe.com/docs/api#account  shows the right values.

<dependency>
        <groupId>com.stripe</groupId>
        <artifactId>stripe-java</artifactId>
        <version>5.7.1</version>
    </dependency>

java 1.8

[2017-08-31 12:04] remi-stripe commented on #400
@santiarias This is not a bug with the library. It's likely that you are retrieving an account that is not  a Custom account. The `legal_entity` hash is only returned on accounts of type Custom.

[2017-08-31 12:04] #400 closed

[2017-09-22 19:12] brandur-stripe opened #402 "stripe-java doesn't compile on Java 9"
Error details:

[code]

[2017-09-25 13:49] ob-stripe commented on #402
This isn't caused by the library's code itself, but by the `maven-javadoc-plugin` plugin we use to generate the documentation. The minimum compatible version for Java 9 is 3.0.0-M1, as documented here: https://cwiki.apache.org/confluence/display/MAVEN/Java+9+-+Jigsaw.

I've tested it and can confirm that updating the plugin's version to 3.0.0-M1 in the `pom.xml` file solves the issue.

[2017-09-25 17:03] #402 closed

[2017-09-29 20:22] svilenivanovsmule opened #405 "LiveStripeResponseGetter globally changes the DNS caching policy"
LiveStripeResponseGetter changes the DNS caching policy from "implementation specific" (which in Java 1.7+ is 30 seconds) to "forever" (*-1*).

By default, the system property `networkaddress.cache.ttl` is `null` but after first API request it becomes `-1`. This changes globally the DNS caching and **indirectly affects other network related code**.

The following fragments in `com.stripe.net.LiveS

[2017-10-02 22:52] brandur-stripe commented on #405
Yes, you're quite right!

I implemented your suggested fix in #406. I'm going to wait for a little feedback from the team first, but we should have a fix soon. Thanks for logging.

[2017-10-03 14:15] brandur-stripe commented on #405
Fix released as 5.9.1! Thanks again.

[2017-10-06 01:39] sowdri opened #408 "OAuth TokenResponse is missing few fields"
[According to the docs](https://stripe.com/docs/connect/standard-accounts) OAuth token response returns the following data:

[code]

The [TokenResponse](https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/oauth/TokenResponse.java) only captures the following:

[code]

Note: The document recommends to store only the `stripeUserId`, but the choice has to be made by the d

[2017-10-06 10:22] ob-stripe commented on #408
Hey @sowdri. It was a deliberate decision to leave out those fields, as there's basically no reason for a new Connect integration to not use the `stripe_user_id` field for everything.

It's certainly something we can reconsider, but for now we prefer to nudge Java users in the right direction by "forcing" them to use the newer method.

I'm going to close the issue, but if you feel very strongly th

[2017-10-06 10:22] #408 closed

[2017-10-06 20:47] remi-stripe opened #409 "Deserializing resources should work even if the resource is deleted"
When you delete a resource in Stripe, it is returned as a limited object with just an `id` and `deleted: true`. In Java, those resources are custom classes called `DeletedAccount` for example.

When you retrieve a resource and expand specific fields, some of those fields might represent a deleted resource. If you use a custom deserializer though you can end up with a crash because the deserializer

[2017-11-08 05:22] sedouard opened #420 "Better Access to Response Headers"
On a successful API request the Stripe Java SDK doesn't provide a way of accessing response headers. (At least not that I can tell).

This can be useful in the case you're interested in response metadata (such as Idempotency-Key and Request-ID).

For example in a GET /customers/:id request:

[code]

The model doesn't provide any way to grab response headers from a given request (at least from what

[2017-11-08 16:21] brandur-stripe commented on #420
+1.

I'd prefer to add something like a `getResponse` accessor (I like stripe-ruby's method the best where responses are available through a separate style of API call, but failing that) instead of doing it piecemeal by augment `StripeObject` with individual parts of the request. It's possible that someone may want access to the raw body or a status code at some point, and it'll be easier to do if

[2017-11-08 16:56] sedouard commented on #420
Agreed that we should just expose the response instead of cherry picking things out of the response.

@brandur-stripe - Where are you suggesting `getResponse` live? Because every API response is deserialized to some sub-type of StripeObject I figured it should go there. Should `getResponse` return a [StripeResponse](https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/net/Str

[2017-11-08 17:26] sedouard commented on #420
(also feel free to assign this to me as I'm happy to do a PR here)

[2017-11-08 18:36] brandur-stripe commented on #420
Yeah, I think that's plausible given that we already have something similar in stripe-node, and it'd be suitable for most people's needs. That said, it might also be a good idea just to spend a few minutes thinking about alternatives just in case there's something better that we could do.

Reusing `StripeResponse` seems like a good idea. That said, given that we're exposing this as a new API, we s

[2017-11-08 18:36] brandur-stripe commented on #420
Yeah, I think that's plausible given that we already have something similar in stripe-node, and it'd be suitable for most people's needs. That said, it might also be a good idea just to spend a few minutes thinking about alternatives just in case there's something better that we could do.

Reusing `StripeResponse` seems like a good idea. That said, given that we're exposing this as a new API, we s

[2017-11-09 00:45] sedouard commented on #420
@ob-stripe throw out a quick pr https://github.com/stripe/stripe-java/pull/421. Let's discuss the details there.

[2017-11-09 12:12] frankie-simon opened #422 "Error when deserializing a Charge object"
I'm using stripe-java 5.23.0, with Java 1.8.

I have a webhook setup up for the "charge.succeeded" event. The method looks like this.

     @CrossOrigin
     @RequestMapping(path = "/update", method = {RequestMethod.POST}, consumes = MimeTypeUtils.APPLICATION_JSON_VALUE, produces = MimeTypeUtils.APPLICATION_JSON_VALUE)
     public ResponseEntity<MyResponse> update(@RequestBody(required = false) St

[2017-11-09 14:13] ob-stripe commented on #422
Hi @frankie-simon. You don't need to reserialize + deserialize the nested charge object. You can simply retrieve it like this:

[code]

That said, there is still an issue with our JSON serializer. It seems that `toJson()` does not properly handle expandable attributes. This is the output of `stripeEvent.getData().getObject().toJson()`:

[code]

We will look into this and push a fix. Thanks for the

[2017-11-09 21:12] #422 closed

[2017-11-13 02:10] marctrem commented on #307
@ptahchiev Would shading the `gson` dependency here solve your issue? If Spring looks for those classes by by fully qualified name, it's not going to notice `gson` from here if it's shaded.

Just to make sure, is your issue that:
* another dependency is loaded
* Spring detects `gson` provided by the Stripe library

Thanks!

[2017-11-13 07:48] ptahchiev commented on #307
My problem is that i'm trying to keep my project as small as possible. Currently I'm using jackson for JSON serialization/deserialization, but now i have two dependencies - gson and jackson.
What spring boot are doing is they are implementation agnostic - and i was wondering if it would be possible to use your API with jackson as well, and not dragging the gson dependency always.

[2017-11-25 23:07] Matiyeu opened #429 "Error date subscription"
Hello,

when im print date created of an subscription with
`subscription.getCreated()`
Then i've got this:

 but "1511646425" correspond to 18/01/70 11:54

 **wut ?? Test mode ?**

Thanks 👍

[2017-11-25 23:18] codylerum commented on #429
https://stripe.com/docs/api#subscriptions

created is `Time at which the object was created. Measured in seconds since the Unix epoch.`

See https://www.epochconverter.com/

[2017-11-25 23:21] Matiyeu commented on #429
Thanks ;)

[2017-11-25 23:22] #429 closed

[2017-12-01 10:08] ob-stripe commented on #420
Implemented in #421 and released in v5.24.0.

[2017-12-01 10:08] #420 closed

[2017-12-04 23:31] PeterDimov opened #431 "Dispute.charge is not Expandable"
Dispute.charge is ```Expandable``` according to API docs: https://stripe.com/docs/api#dispute_object

However the current implementation expects a string only: https://github.com/stripe/stripe-java/blob/e2d2fb0fb9cf2a9a6b34e6d69e5993b08f88c6d5/src/main/java/com/stripe/model/Dispute.java#L19

Which causes deserialization with expanded charge to fail with:
[code]
I have an adjustment balance transac

[2017-12-05 04:43] ob-stripe commented on #431
Pushed a fix fix for this in #432.

[2017-12-06 22:07] brandur-stripe opened #433 "Consolidate GSON configurations in a recursion-friendly way"
As mentioned in #432, it's a problem that each of our deserializer classes (e.g. `ChargeRefundCollectionDeserializer`) creates its own GSON instance because it leaves the door open to forgetting to register certain type adapters that are included in `APIResource.GSON`. Currently we have this working optimistically so that hopefully any type adapters needed by any particular deserializer will be co

[2017-12-06 22:08] #431 closed

[2017-12-07 01:35] thomasseaton commented on #93
To anyone coming across this when searching for a solution, you can mock a request by doing:
`
StripeResponseGetter stripeMock = mock(StripeResponseGetter.class);
APIResource.setStripeResponseGetter(stripeMock);
`

[2017-12-17 17:55] tanin47 opened #435 "Account.delete(options) bug"
[code]

It doesn't pass `options` to the next method.

https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/Account.java#L343

[2017-12-18 00:49] ob-stripe commented on #435
Thanks for report @tanin47. I've pushed a fix in #436 and we'll release an updated version of the library soon.

[2017-12-18 01:01] tanin47 commented on #435
Thank you. It doesn't block me; I merely switched to one of the overloaded methods. Thanks for addressing it promptly.

[2017-12-18 17:35] #435 closed

[2017-12-18 17:42] brandur-stripe commented on #435
Thanks for the report! Olivier's patched has been released as part of 5.26.0.

[2017-12-22 01:04] pguillebert opened #437 "SubscriptionItems cannot be deleted with parameters"
Currently I cannot pass extra parameters to the `delete()` method for SubscriptionItems.

In my use case, I need to disable proration ( https://stripe.com/docs/api/java#delete_subscription_item-prorate ) for a delete call.

The fix is very simple, should I provide a PR for this ?

Thanks

[2017-12-22 07:41] remi-stripe commented on #437
@pguillebert A PR would be awesome now that you already have the fix ready. We can then review and release a version with those changes!

[2017-12-22 13:16] ob-stripe commented on #437
Oops, did not notice that you had already committed a fix for this in your fork @pguillebert 🤦‍♂️

Ah well, the fix is quite trivial as you pointed out and I added a test while I was at it. PR is in #438.

[2017-12-22 18:10] #437 closed

[2018-01-04 03:06] codylerum commented on #433
@brandur-stripe I took a glace at this and I don't see a path where you can get to having a single GSON instance without changing the hierarchy.

The issue comes down to using GSON to deserialize the same type as the deserializer

https://github.com/stripe/stripe-java/blob/master/src/main/java/com/stripe/model/ChargeRefundCollectionDeserializer.java#L38

So currently you need to have a second inst

[2018-01-10 10:19] clarenced opened #441 "NullPointerException when deserializing Event object"
I wrote a integration test to test the receipt of webhook notifications. I am passing a payload string (an Event object) to the ``Webhook.constructEvent(payload, signature, endpointSecret);`` and  it always raises a `NullPointerException`.

Here is the stact trace :

[code]

It seems that the error comes from the class ``BalanceTransactionDeserializer`` and at line [57  ](https://github.com/stripe

[2018-01-10 11:15] ob-stripe commented on #441
Hi @clarenced. The event payload you shared looks like it came from an event object that was reserialized by an older version of the Java library.

Specifically this part:
[code]
shows that this payload was generated by a version of stripe-java older than [5.23.1](https://github.com/stripe/stripe-java/blob/master/CHANGELOG.md#5231---2017-11-09).

Can you confirm that:
1. you're using the latest ve

[2018-01-10 17:01] clarenced commented on #441
Hi @ob-stripe, you are totally right for the 1st point. I was using a payload that was generated with an old version of the library. After generating a new payload with the latest version, everything is fine now.

Thx for your help

[2018-01-10 17:01] #441 closed

[2018-01-10 17:02] remi-stripe commented on #441
Thanks for confirming @clarenced and glad you could find a fix for this!

[2018-01-26 11:28] malteo opened #445 "Support source_mandate_notification objects"
The `data.object` inside a `source.mandate_notification` event is deserialized as a `StripeRawJsonObject`, should have its own type.

stripe-java 5.28.0

[2018-01-26 15:42] remi-stripe commented on #445
@malteo Thanks for the report! I'll work on adding support for this!

[2018-02-13 21:26] #445 closed

[2018-02-13 21:30] ob-stripe commented on #445
Fixed in 5.31.0.

[2018-02-18 18:45] mjain1990 opened #450 "Can not construct instance of com.stripe.model.StripeObject"
I am using spring boot with jackson. I am trying to configure a webhook resource and expecting Event Object as request body. But when I get a webhook call my resource reject that request with 400 because jackson is not able to bind it. What it says is

[code]

I searched for its solution and it says to add JsonTypeInfo on StripeObject. I don't want to create a another class in my own project for t

[2018-02-19 12:23] ob-stripe commented on #450
Hi @mjain1990. stripe-java uses Gson as its JSON library, not Jackson.

You can deserialize JSON payloads into `Event` objects using the `Webhook.constructEvent()` method, which will also let you verify webhook signatures. You can find more information here: https://stripe.com/docs/webhooks/signatures#verify-official-libraries.

[2018-02-19 12:23] #450 closed

[2018-02-19 15:27] remi-stripe opened #451 "Fetching upcoming invoice's line items loses the request's original parameters"
When you retrieve an upcoming invoice in the API, your invoice might have more than 10 items. In that case you end up having to paginate the invoice. When doing so, you want to make sure that your parameters are passed automatically so that things like proration or plan changes are still taken into account on the next page(s).

Today, this is not working properly. This was originally reported in h

[2018-02-20 08:31] ob-stripe commented on #451
I believe this is essentially the same issue as #264 -- the collection returned by `getLines()` does not have the parameters and options that were passed when fetching the upcoming invoice (cf. https://github.com/stripe/stripe-java/issues/264#issuecomment-174725144).

A workaround is to re-fetch the line items and explicitly pass params/options. It's what we do in this test: https://github.com/str

[2018-02-21 13:22] mjain1990 opened #454 "billing_cycle_anchor cannot be later than next natural billing date"
Hi Team,
I am using 2018-02-06 LATEST version on Stripe API in my integration. I am trying to achieve trial with [ Combining trials with billing cycle anchor ](https://stripe.com/docs/subscriptions/trials#combine-trial-anchor) feature for my subscriptions.
My plan is created with monthly interval and 30 day free trial. So when I subscribe to a plan with customer profile I pass "trial_end" to next

[2018-02-21 13:35] remi-stripe commented on #454
@mjain1990 Since this is not a bug in stripe-java you should instead talk to our support team to ask a question like this. You can contact them here: https://support.stripe.com/email

[2018-02-21 13:35] #454 closed

[2018-02-22 23:55] brandur-stripe commented on #451
Thanks for the great summary @remi-stripe / @oliver-stripe! I must admit that I'd totally forgotten about pretty much all of this stuff ...

Maybe both are in order? It seems like having the option to send parameters and options as seen in #275 can't hurt, but even if it's possible, it still strikes me as more of a workaround than anything else — as a library user, I think I'd still be surprised t

[2018-02-28 13:29] ob-stripe commented on #451
@brandur-stripe I agree with everything you said :)

I opened a PR for the first approach in #459.

[2018-02-28 22:53] fran-mv opened #460 "Checkout token issue"
Hi, I'm having problems when getting the checkout token. I receive the (credit or debit) card with the field currency=null instead of currency="eur". Is that the expected behaviour? In that case I'm not able to modify the card contained in the token so as it has the currency field != null. I need that to add a card to a custom account

I provide here all the information:

**This is the html code t

[2018-02-28 23:02] ob-stripe commented on #460
@fran-mv This is expected behavior. Tokens created by Checkout will always have `currency` set to `null`, so they cannot be used as external accounts for custom accounts.

You must use Elements to create tokens with the `currency` parameter. Here's a basic example: https://jsfiddle.net/ywain/rprufyg5/.

Note that using debit cards as external accounts is currently only supported for US accounts, s

[2018-02-28 23:02] #460 closed

[2018-03-15 00:02] kmhughes opened #463 "Adding OSGi Header"
The system I have runs inside of Apache Karaf, an OSGi container that runs on the JVM.

I am thinking of using Stripe for our billing, but would need the library to work with OSGi. All this requires is some changes made to the META-INF/MANIFEST.MF file in your jar, it does not touch bytecode or add classes to the jar. The nice thing about these changes is that they have zero effect on anyone not u

[2018-03-15 00:06] brandur-stripe commented on #463
Hi @kmhughes, I haven't worked with OSGi at all and probably don't grasp all the details of this kind of change, but if it's benign like you suggest, then yes, we'll accept a patch. Thanks for offering to make the changes yourself!

[2018-03-15 00:31] kmhughes commented on #463
Hi @brandur-stripe, cool thanks! So glad you folks moved to Gradle, it makes this change very, very simple. The Maven version is a little more involved.

[2018-03-21 16:51] kmhughes commented on #463
Hi @brandur-stripe, I have added in the Gradle lines to add in the OSGi headers. I have tested in my OSGi container and it works perfectly.

You can see what the OSGi plugin did below.

`Manifest-Version: 1.0
Implementation-Title: stripe-java
Bundle-SymbolicName: stripe-java
Implementation-Version: 5.33.2
Bundle-ManifestVersion: 2
Bnd-LastModified: 1521647353000
Import-Package: com.google.gson;ver

[2018-03-21 17:54] brandur-stripe commented on #463
@kmhughes Once again, this is awesome. Thanks for testing, and thanks for the contribution!

[2018-03-21 17:59] kmhughes commented on #463
You are most welcome, @brandur-stripe . Many thanks for accepting the pull.

[2018-03-21 17:59] #463 closed

[2018-03-21 18:57] ob-stripe commented on #463
Released in 5.33.3. Thanks @kmhughes!

[2018-03-22 10:22] elenacanovi opened #465 ".toString returns NullPointerException when called for an Order"
Hi all,

I have successfully created some test orders. However, when I try to call the method `toString` for an `Order`,  I get the following error:
[code]

Note that if I call all the other `Order` methods (such as `getId`), everything works fine.

Thanks.

[2018-03-22 13:19] ob-stripe commented on #465
Hey @elenacanovi, thanks for the report and sorry for the inconvenience. I've prepared a patch for this issue and we will release an update for the library shortly.

[2018-03-22 13:43] elenacanovi commented on #465
Thanks!

[2018-03-22 16:22] #465 closed

[2018-03-22 17:19] caipivara opened #468 "5.34.0 is not in maven central"
I see the release in https://github.com/stripe/stripe-java/releases but it is not ready on maven central.

[2018-03-23 16:33] ob-stripe commented on #468
I'm not sure why it took so long, but 5.34.0 is now available on Maven Central: https://mvnrepository.com/artifact/com.stripe/stripe-java/5.34.0.

[2018-03-23 16:33] #468 closed

[2018-03-29 09:25] ob-stripe opened #476 "Enforce consistent style rules"
This is going to be done over several PRs, so I'm using this issue to track progress.

- [x] Use checkstyle with Google checks (#475)
- [x] Use 2 spaces instead of tabs for indentation (#477)
- [x] Fix import order and * imports (#478)
- [x] Limit line length to 100 characters (#479)
- [x] Fix more linting errors (#480)
- [x] Rule for consecutive capital letters (#481)
- [x] Fix distance linting i

[2018-03-30 16:34] ob-stripe commented on #476
Phew! We're done for now. Closing this out.

[2018-03-30 16:34] #476 closed

[2018-04-02 05:12] sameerbhadouria opened #491 "Detach API does not exist on the ExternalAccount resource"
The document for detaching a source seems incorrect for the Java sdk. The following code snippet refers to the detach API on the ExternalAccount object which does not exist. Either a missing functionality in the API or a doc bug.

[code]

Had to use `Source.retrieve(sourceId).detach()`

Reference: https://stripe.com/docs/api#detach_source
Java version: 1.8
Stripe java library version: 5.34.1

[2018-04-02 20:29] brandur commented on #491
Thanks for the report!

This probably should work the way that it's advertised right now, but it'll take some work to unwind the conflation with external accounts. For now, I've put in a patch that changes the code sample to something that works, and we should have it deployed shortly.

[2018-04-03 16:58] sameerbhadouria commented on #491
👍

[2018-04-06 04:02] colangelo-david opened #495 "java.lang.NoSuchFieldError: isEC Inside Charge.Create(chargeMap)"
Im working on a new stripe integration on a java project and have hit what im pretty sure is a bug. Essentially when I call Charge.Create(chargeMap) I get the following exception, stack dump as follows:

[code]

I have implemented stripe elsewhere so i know im passing in all the proper tokens etc. Im running this on Payara 5.181 with a Jersey application on java 1.8.0_102 build and running the str

[2018-04-06 08:42] nomadus opened #496 "JsonMappingException exception is throwing when retrieving a customer"
The code was working with an older stripe version 3.5.0 library, but with the newest library it throws:

Here is the code pieces:
In the serviceImpl class I retrieve Customer object via
`customer = Customer.retrieve(currentAccount.getCustomerStripeId());`

In the controller class:
[code]
This piece of code throws above error. When I re-write the method as below:

[code]
The customer is returned wi

[2018-04-06 11:34] ob-stripe commented on #495
Hi @colangelo-david. I don't think this is an issue with the library itself, the stack trace shows the error is happening pretty deep in the JDK. I'm not familiar at all with Payara or Jersey but I guess there's something in your Java environment that's preventing the library from establishing a TLS 1.2 connection to Stripe's API servers.

Can you try running your app with `-Djavax.net.debug=ssl`

[2018-04-06 11:44] ob-stripe commented on #496
Hi @nomadus. I think this issue is caused by the addition of the [`lastResponse`](https://github.com/stripe/stripe-java/blob/a0f572267b6871c7ca03ed8a9e53a7470bd81130/src/main/java/com/stripe/model/StripeObject.java#L45) attribute on `StripeObject`s in version [5.24.0](https://github.com/stripe/stripe-java/blob/master/CHANGELOG.md#5240---2017-11-28) (#421).

The library uses Gson as its JSON librar

[2018-04-06 11:44] #496 closed

[2018-04-06 11:52] ob-stripe opened #497 "Start using Error Prone"
[Error Prone](http://errorprone.info/) is a project that runs additional checks and improves code quality.

This was suggested by @codylerum in #494. See the PR for more context.

[2018-04-06 15:40] colangelo-david commented on #495
@ob-stripe I have some time set aside to look at this over the next day or so. I was debugging more last night and upgraded to JDK 8U162 and next up is a downgrade to the latest 7 build. I found some tangentially related stuff and it may possibly be colliding with the latest version of GRIZZLY packaged with Payara so Im going to try to downgrade to the last V4 build. Ill let you know what I find.

[2018-04-10 14:43] ob-stripe commented on #495
@colangelo-david Were you able to solve the issue?

[2018-04-10 14:46] colangelo-david commented on #495
@ob-stripe it looks like things have stabled out. I did a few thing all at once so I'm not sure exactly what fixed it but:

- Upgraded to Java 162
- Cleared maven cache (which i was doing previously)
- Rebooted machine
- Ran with the -Djavax.net.debug=ssl option

That combination seems to get everything working and I was able to deploy the docker image to ElasticBeanstalk last night without the SS

[2018-04-10 14:51] ob-stripe commented on #495
@colangelo-david Cool, glad you were able to fix the problem even if you're not 100% sure about the resolution.

AFAIK, the `-Djavax.net.debug=ssl` option only enables some debug output, it doesn't actually change how SSL/TLS connections are handled, so you should safely be able to remove it if things are working now.

I'm closing the issue, but feel free to reply if you have any more questions or

[2018-04-10 14:51] #495 closed

[2018-04-10 15:01] colangelo-david commented on #495
Sounds good!

I did not have the option running in the deployed environment, which seemed to be working so i think its all stabilized now. If i have some time I may try and downgrade everything to see if I can recreate the problem but if anyone else find this issue or a similar while using Glassfish/Payara the solution seems to be

- Upgrade to Java 8_162
- Complete clear maven cache
- Use Stripe

[2018-04-13 07:18] moga111 opened #499 "ClassCastException when trying to create new card"
**Expected:**
`Customer.createCard` to return a card object.

**Actual:**
Response is a type of object "source"

[code]

Here is the code I am using:
[code]

The card is added successfully, but the problem is only in the response.

[2018-04-13 11:48] remi-stripe commented on #499
@moga111 Which type is returned by the method you've defined? My guess is that the issue has to do with that part where you are getting a `Card` from our library but return a different type in your own method.

[2018-04-14 03:38] moga111 commented on #499
Hey @remi-stripe , thanks for the reply.
I am actually returning `com.stripe.model.Card` I traced the code, and it looks like the response from the server says that the object is of type `source`

[code]

[2018-04-14 03:43] remi-stripe commented on #499
@moga111 This means that you are creating a Source object and not a Card object. You can not use `createCard()` in that case since this expects the old model of type `Card`.

Instead, you should attach the Source to the Customer using `customer.getSources().create()` instead like this:

[code]

This returns an `ExternalAccount` instance which is a parent class for all of those.

[2018-04-14 03:51] moga111 commented on #499
Amazing! thanks for the help it works now.
The problem is solved.

[2018-04-14 03:51] #499 closed

[2018-04-19 00:17] kaiatsinorbis opened #500 "Plan metadata is missing"
We are trying to load Stripe Plan information into our system using the Java API, tried a few different versions including (4.7.x) and (5.35.x). Here is the code we are using.

Also tried to load the plan by id, which didn't give the metadata either.

The metadata map returned from the plan object is always empty, even those plans have metadata defined in the stripe console.

Not sure if anything

[2018-04-19 12:39] remi-stripe commented on #500
@kaiatsinorbis I have tried quickly on my end and my plan returns its metadata as expected. My guess is that the plan you are retrieving has none which is why you're not getting any back.

I'd recommend reaching out to our support team to confirm this instead: https://support.stripe.com/email

[2018-04-19 12:39] #500 closed

[2018-04-21 06:49] michaelkrog opened #501 "getName on SubscriptionPlan is deprecated - but non-existing in server API"
I recently upgrade from a version 3.* to 5.35.1 when upgradeing server API to latest version(with Billing). And everything seemed to go smoothly.

However, as getName on subscriptionplan is just deprecated everything compiles nicely. But name does not exist anymore in the server api, so it is just null. Instead I need to use getNickName, to get a display string for the plan(and set the nickname).

[2018-04-21 09:38] remi-stripe commented on #501
@michaelkrog A lot of developers will use the latest version of our library but have an account on an older API version where the plan's `name` property still exists. This method is deprecated but still needs to be present in that case.

[2018-04-21 09:38] #501 closed

[2018-05-04 09:28] marinalan opened #502 "jboss 4.2.3, that runs on JDK6 does not load stripe-java-5.35.1.jar"
I am dealing with legacy old project that runs on JDK6 within jboss4.2.3. Unfortunately, I get exception
`java.lang.NoClassDefFoundError: com/stripe/Stripe`
when attempt to do in servlet: `Stripe.apiKey = secretKey;`
All that i want is to run few lines to create Charge:

[code]

I just want to pass token.id from checkout.js popup, amount, currency. What can I do? Which is the latest version of str

[2018-05-04 09:56] ob-stripe commented on #502
Hi @marinalan. Unfortunately, Stripe's Java library no longer supports Java 6, as you can see in the [requirements](https://github.com/stripe/stripe-java#requirements). The main reason is that Java 6 does not support TLS 1.2, which is now required to establish connections to Stripe's API (cf. [this blog post](https://stripe.com/blog/upgrading-tls)).

You must use Java 7 or or more recent in order

[2018-05-04 09:56] #502 closed

[2018-05-09 17:00] corrspt commented on #211
It has been almost 4 years since this issue has been open.

I understand it is not an easy task, but Stripe is known for an easy to use API and great documentation, but this Java library needs some serious love. Type-safety and discoverability are really great tools in the Java world. The lack of Java docs (with Examples) doesn't help.

Would love to see the Stripe team find some resources to impr

[2018-05-10 15:21] NicolasRiche opened #506 "Set a memo on Subscription via API call"
Hi,

I want to set a 'memo' in a subscription (and then this memo will appear on all invoices generated by the subscription). It's possible to do it in Stripe dashboard, but I didn't succeed to set it via API (either by using Stripe-java or with a curl request).

The memo field isn't listed in create subscription API doc.
I set the memo in dashboard and then I looked the logs. The POST request bod

[2018-05-10 15:30] remi-stripe commented on #506
@NicolasRiche This is not supported in the API at the moment and is only available in the dashboard. You'll have to reach out to our support team to discuss this feature instead: https://support.stripe.com/email

[2018-05-10 15:30] #506 closed

[2018-05-18 06:27] mamagotope opened #507 "Unable to get fee from Charge Object"
Hi i'm having some troubles getting the stripe fee and the net values of a Charge from the java library.
Maybe is possible and i'm just not seeing it.

[2018-05-18 12:49] remi-stripe commented on #507
@mamagotope The fee details do not live on the Charge object. They live on the associated Balance Transaction [object](https://stripe.com/docs/api#balance_transaction_object) under the `fee` and `fee_details` properties.

You would have to retrieve that separately or use the [Expand feature](https://stripe.com/docs/api#expanding_objects) to get both at once.

This is more of a support question sin

[2018-05-18 12:49] #507 closed

[2018-05-25 10:11] mamagotope opened #508 "Net value not updating"
When i create and capture a charge the BalanceTransaction object net and fee values are correct, but if the charge is refounded the BalanceTransaction object net value is incorrect, is the same as before, when it should be -fee value.

Example:
Create a charge with 2100 amount
Capture it and Balance is {Fee=86, Net=2014}
Then refound the captured charge (refounded=2100)
Get the Balance again {Fee=

[2018-05-25 12:18] remi-stripe commented on #508
@mamagotope that is unlikely to be a bug in the library. We don't refund our fee on refunds which is why it's not updated. I'd recommend talking to the support team instead: https://support.stripe.com/email

[2018-05-25 12:18] #508 closed

[2018-06-04 08:33] mamagotope commented on #508
@remi-stripe that's why i think the net value is incorrect, because it's the same when the charge is captured
 and when the charge is refounded.

[2018-06-04 12:12] remi-stripe commented on #508
@mamagotope I still think there's no bug here since it's expected behavior. I'd recommend talking to our support team directly instead!

[2018-06-06 20:14] afzalex opened #514 "Missing "hosted page url" in "Invoice" object."
According to current api version of stripe, an Invoice object has "hosted_page_url " which could be used to directly pay invoice using Stripe hosted page.

[2018-06-06 20:29] brandur-stripe commented on #514
Just to be clear, you meant `hosted_invoice_url` right?

[2018-06-06 20:31] afzalex commented on #514
yeah ,, my typo.. its `hosted_invoice_url`

[2018-06-06 20:32] remi-stripe commented on #514
those were added just 2 days ago but I can push a PR in a bit!

[2018-06-06 20:52] remi-stripe commented on #514
Pushed a PR in https://github.com/stripe/stripe-java/pull/515. Will fix the other languages too while I'm at it.

[2018-06-07 12:10] #514 closed

[2018-06-07 12:12] ob-stripe commented on #514
Released in 5.39.0.

[2018-06-08 17:40] hzhaoAtSalesForce opened #520 "ExchangeRate does not work?"
When I try:
[code]

I got:
[code]

[2018-06-08 18:13] brandur-stripe commented on #520
@hzhaoAtSalesForce Sorry about the trouble here — exchange rates are still a gated feature with limited access. Let me see if I can grab some current state on its release.

[2018-06-08 18:28] brandur-stripe commented on #520
Okay, I'm sorry to say that this feature has arrived at a slight impasse due to a changing of team owernship. We still expect its release, but possibly not in the immediate future.

If you have a use case where this is particularly important, would you mind emailing support@stripe.com? We could potentially get you gated in for early access to this feature.

[2018-06-08 18:32] hzhaoAtSalesForce commented on #520
Thank you very much for the reply, my PM is talking directly with support team to see what we can get.

[2018-06-08 19:31] #520 closed

[2018-06-08 19:31] remi-stripe commented on #520
Closing as I think it's more an internal decision and not a library bug/issue.

[2018-06-16 12:27] ivowiblo opened #527 "Coupon.name field missing"

[2018-06-16 21:13] remi-stripe commented on #527
@ivowiblo  Thanks for the report! I pushed a PR for this that we'll merge next week!

[2018-06-16 22:49] ivowiblo commented on #527
Great! Thanks to you!

[2018-06-16 23:35] #527 closed

[2018-06-16 23:38] ob-stripe commented on #527
Released as 5.41.1.

[2018-06-30 17:15] Flo354 opened #545 "Missing setClientId in RequestOptionsBuilder"
Hi,

I am trying to use the class `RequestOptionsBuilder` to build my environments with differents apiKey and clientId.

The problem is that RequestOptionsBuilder always use `clientId = Stripe.clientId`. There is no setter to modify it.

Why?

[2018-07-02 11:57] ob-stripe commented on #545
Hi @Flo354, this was probably just an oversight. Switching between different client IDs at runtime is a rather uncommon use case, which is probably why this was never reported before.

In any case, I have a fix pending for review in #546. We'll release an updated version of the library shortly.

[2018-07-02 15:09] #545 closed

[2018-07-02 15:11] ob-stripe commented on #545
Fixed in 5.47.0.

[2018-07-03 11:20] ob-stripe commented on #299
This was fixed by #544 and released in 5.48.0.

[2018-07-03 11:20] #299 closed

[2018-07-04 15:09] Flo354 commented on #545
Thanks!

[2018-07-08 06:24] junaidjp opened #550 "I cannot seem to link customer and source using the test account"
1)  Generate Token

2) Call the below Method

 public Customer createCustomer(String username,String token)  {
              Stripe.apiKey =STRIPE_API_KEY;
		Map<String, Object> customerParams = new HashMap<String, Object>();
		customerParams.put("email", username);
		customerParams.put("description", "tok_"+username);

		Customer customer = null;
		try {
			customer = Customer.create(customerPara

[2018-07-08 12:59] remi-stripe commented on #550
@junaidjp I don't think the error comes from that line of code. It would likely come from creating a charge and passing the token id again instead of the new card id (card_XXXX).

I would recommend talking to our support team instead as they can look at the logs in your account and help you figure out what is wrong. you can contact them here: https://support.stripe.com/email

[2018-07-08 12:59] #550 closed

[2018-07-25 16:25] vivekpatel111 opened #554 "[Feature Request] Invoice API - no getter for invoice url"
I want to get `hosted_invoice_url` and `invoice_pdf` from **Invoice** class object from `com.stripe.model` package. This data is already available in class as attribute.

[code]

Below is reference _Rest API_ call taken from [API Documentation page](https://stripe.com/docs/api#list_invoices), in which above data is returned. So please provide **getter function** for the same in _Java SDK_.

### Re

[2018-07-25 16:38] ob-stripe commented on #554
Hi @vivekpatel111. We use Project Lombok to automatically generate accessors for class attributes, so this already exists! You can call `getHostedInvoiceURL()` and `getInvoicePDF()` in `Invoice` instances :)

[2018-07-25 16:38] #554 closed

[2018-07-25 16:42] lure opened #555 "Sources do not match byte code"
Hi
The sources provided through maven for version 5.49+ do not match the byte code. This is most likely the result of lombok generations. Project maintainer may want to use [lombok maven plugin](http://awhitford.github.io/lombok.maven/lombok-maven-plugin/faq.html)
Thank you.

[2018-07-25 16:48] ob-stripe commented on #555
Hi @lure. We use Gradle for our build process, not Maven. We do use the Gradle plugin recommended by Lombok [0].

Is the fact that the sources don't match the byte code a serious issue? I don't have enough experience with the Java ecosystem to tell myself, but if it is, I suppose we could commit the delombok'd source files instead of the "raw" ones.

[0] https://projectlombok.org/setup/gradle

[2018-07-26 05:56] vivekpatel111 commented on #554
@ob-stripe I'm using [v5.36.0](https://github.com/stripe/stripe-java/tree/v5.36.0) at my end. Is there any significant changes for migrating to latest version [v5.51.0](https://github.com/stripe/stripe-java/tree/v5.51.0)?

[2018-07-26 07:46] vivekpatel111 commented on #554
@ob-stripe [v5.39.0](https://github.com/stripe/stripe-java/tree/v5.39.0) solves my issue.
Thanks for support .

Changelog link for [v5.39.0](https://github.com/stripe/stripe-java/blob/master/CHANGELOG.md#5390---2018-06-07)
- Add `hosted_invoice_url` and `invoice_pdf` properties to `Invoice` model

[2018-07-26 08:39] ob-stripe commented on #554
@vivekpatel111 No worries. As a general rule, we use [semantic versioning](https://semver.org/), so you can always safely upgrade between minor versions. Backwards-incompatible changes are only introduced in new major versions.

[2018-07-27 22:58] majelbstoat opened #559 "[Feature Request] Plan.retrieve implementation that supports expanding fields."
The Stripe docs demonstrate how to do expansion:

[code]

And Plans have `product` as an expandable field. But, there is no method signature for retrieving a Plan with params like there is for Charge.

At the moment, I'm working around it by subclassing, but it would be nice if I didn't have to:

[code]

[2018-07-27 23:07] remi-stripe commented on #559
@majelbstoat Thanks for the detailed report! We should definitely fix this! Would you be up for opening a PR since you have the code ready? I can take otherwise!

[2018-07-28 02:14] majelbstoat commented on #559
Sure thing :)

On Fri, Jul 27, 2018 at 4:07 PM remi-stripe <notifications@github.com>
wrote:

[2018-07-30 14:39] #409 closed

[2018-07-30 21:05] hrstoyanov opened #562 "Odd SSL errors with Stripe Java API libs"
There is something odd in the way the Java Stripe API wrapper configures SSL: When I use it in OpenLiberty (OL) container, it pick the configured SSL certificates store from the container, which is empty by default, and I start to see SSL errors like this one:

https://github.com/OpenLiberty/open-liberty/issues/4377#issuecomment-408978980

The issue was solved by adding either Stripe.Com or parent

[2018-07-30 21:40] lure commented on #555
Hi @ob-stripe
thank you for fast answer . Basically - yes, not having the real sources is a somewhat issues, making debugging by far less comfortable.
That would be really nice if you could provide the real sources.

[2018-07-30 21:47] ob-stripe commented on #562
Hi @hrstoyanov, thanks for the report!

We do tweak some SSL parameters to enable TLS 1.2 on Java 1.7 (as Stripe's API requires TLS 1.2, per PCI rules). I don't think we change anything related to the cert store, but I could be wrong.

Can you share what versions of Java and stripe-java you're using?

Yes, AFAIK the certs for Stripe's CA (Digicert) should be present in the default certificate stor

[2018-07-30 23:02] hrstoyanov commented on #562
```5.50.0```

I also posted the link for the detailed issue.

[2018-07-31 11:42] ob-stripe commented on #555
@lure Alright, I'll take a look at how other projects that use Lombok handle this issue.

In the meantime, you can get the delombok'd sources by running `gradle delombok` in the stripe-java project. The sources will be created in the `build/delombok` directory.

[2018-08-01 12:50] #559 closed

[2018-08-01 12:55] ob-stripe commented on #559
Hi @majelbstoat! I've just released a new version of the library (6.2.0). All `retrieve()` methods now have a signature that accepts a parameters map.

Thanks for bringing this to our attention!

[2018-08-01 15:03] majelbstoat commented on #559
Awesome, thanks for the fast turnaround :)

On Wed, Aug 1, 2018 at 5:55 AM Olivier Bellone <notifications@github.com>
wrote:

[2018-08-01 17:43] lure commented on #555
Thank you, @ob-stripe

[2018-08-01 22:08] ob-stripe commented on #555
I've taken a look at what other projects using Lombok do, and there doesn't seem to be any strong consensus: some projects generate their source JAR using the original files (like we currently do) while others use the delomboked sources (e.g. [here](https://github.com/blink-ai/slack-sdk/blob/7285e164b77c5f490456b2967be24ad06991dfee/SlackSDK/build.gradle#L47-L51)).

I've also not be able to find an

[2018-08-01 23:31] brandur-stripe commented on #555
@ob-stripe I don't have too much context on the issue, but I'd +1 using the delomboked sources: I'd imagine they'd be much more pleasant to step through a debugger because you have real code instead of metaprogramming.

[2018-08-02 08:58] #555 closed

[2018-08-02 09:01] ob-stripe commented on #555
@lure I've just released version 6.2.1 of the library, which is identical to 6.2.0 except that the sources JAR is now generated using the delomboked sources.

[2018-08-07 09:39] ChuGer opened #570 "Slow response time from API"
Hello, we've building integration with Stripe Connect using Java SDK and Stripe account in Test Mode. We intended to switch to live mode in future to process real payments, but at the moment we are facing quite slow request processing time from Stripe API (version 2018-05-21) - some request (e.g. create a charge) took longer than 2 seconds.

 **So my questions are following:**

- Where can I found

[2018-08-07 13:11] gh-stripe commented on #570
Hi @ChuGer, we don't have a document referencing the average response times but the values you're seeing are normal for test mode charge creation. A lot of internal checks are run when a charge is created and they take a good share of the time you saw. Regarding live mode requests we try to have comparable times with test mode ones but for charge creation it likely will be a bit longer since you n

[2018-08-07 13:11] #570 closed

[2018-08-07 16:03] lure opened #571 "Plan\Subscription field inconsistency."
Plan description in stripe's dashboard:
Note that nickname is empty.
<img width="309" alt="screen shot 2018-08-07 at 11 54 31" src="https://user-images.githubusercontent.com/289835/43787755-c464019a-9a39-11e8-86bc-854ed0977d2e.png">

Retrieve user's plan, note that name is null and nickname is not null.
[code]
Go to sources,
[code]
However, getProduct returns a String, not an object.

[2018-08-07 20:55] remi-stripe commented on #571
@lure When you retrieve a Plan via the API, the `product` property is the Product id by default as documented [here](https://stripe.com/docs/api#plan_object-product). This property is [Expandable](https://stripe.com/docs/api#expanding_objects) though which lets you retrieve the full Product object at the same time.

In Java the code would look like this:

[code]

[2018-08-07 20:55] #571 closed

[2018-08-15 17:58] Or4ng3 opened #573 "NPE when deserializing event "batch.request""
Recently (since 10 august) I started to receive strange webhook events from stripe. All of them have type = "batch.request" and causes NPE when deserializing because they don't have data.object.object field. Not sure if this is stripe service or this library bug.
Tested in versions 6.3 and 5.53.

stacktrace:
[code]

webhook event:
[code]

[2018-08-15 18:18] remi-stripe commented on #573
@Or4ng3 Those events are for a feature in private beta so the client libraries do not support those at the moment. We should not NPE though for new resource types though. We'll look into adding some logic in the future but for now you should check the type of event before deserializing and ignore those if you don't need them

[2018-08-16 14:06] Or4ng3 commented on #573
@remi-stripe, Is it possible to disable beta features for our application?

[2018-08-16 14:14] remi-stripe commented on #573
@Or4ng3 If you receive this event, it likely means that someone on your team asked to be explicitly part of that beta though and is actively using it. I would recommend reaching out to our support team so that they can help you investigate: https://support.stripe.com/email

[2018-08-27 20:58] cyphix333 commented on #142
I'm here after getting very confused about this as well - not using Java, but PHP. I know the docs said that a charge object is created if it succeeded and if not an error is thrown, but then I started looking at the response and seen the `failure_code` and `failure_message` so figured I needed to account for these - then couldn't work out why the object was always empty on failures.

Docs could u

[2018-08-27 22:08] remi-stripe commented on #142
@cyphix333 When a charge succeeds, a charge object is returned. If it failed, an error is returned instead but we also return the corresponding charge id in the `charge` property on the error.

This lets you retrieve the charge afterwards and you can look at the `failure_code` and `failure_message` on that failed charge to understand what blocked it.

[2018-08-28 07:32] cyphix333 commented on #142
@remi-stripe Thanks for that. Just think the docs could be clearer as initially it's very confusing on why the object contains those properties when it's stated a charge object is only returned on success.

[2018-08-30 05:36] kishanio commented on #454
@mjain1990 did you find a resolution to this? I have been using it with similar context for awhile.

[2018-09-06 12:27] itgeorge opened #585 "Request: Getter for invoice_prefix on Customer object"
Currently there appears to be no way to get the value of the ```invoice_prefix``` (https://stripe.com/docs/api#customer_object-invoice_prefix) field on the Customer object. There is no getter (there also appears to be no such field in the Customer.java class) and I'm not aware of a way to request a property by it's name - e.g. something like ```customer.getProperty("invoice_prefix")```.

The use-c

[2018-09-06 16:01] #585 closed

[2018-09-06 16:03] ob-stripe commented on #585
Fixed in 6.12.0.

Thanks for the report @itgeorge!

[2018-09-06 16:04] itgeorge commented on #585
Thanks for the quick fix!

[2018-09-12 10:58] dflorey opened #587 "Account ApiResource is missing shippingAddress fields"
When fetching an account using curl I can get the sipping_address fields.
In Java API the shippingAddress is not present in the Account object.

[2018-09-12 12:00] dflorey commented on #587
CURL:
`curl https://api.stripe.com/v1/accounts/acct_1BufISDzITvGe2U7 -u sk_test_UoxrQ2jO0FiNQNhVLuSDbNOS:`

[code]

JAVA:
[code]

[code]

[2018-09-12 12:04] dflorey commented on #587
"Shipping address" has been set from this page:
https://dashboard.stripe.com/account

How else could I retrieve the entered address if not via shipping_addres fields?

[2018-09-12 12:07] ob-stripe commented on #587
Ah, thanks for the clarification! Indeed, it looks like the library lacks accessors for the `support_address` attributes. This should be easy to fix.

[2018-09-12 12:11] dflorey commented on #587
Cool, thanks! And sorry for the confusion....

[2018-09-12 12:15] ob-stripe commented on #587
Actually, this field is not present in the [OpenAPI specification](https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec3.yaml), so I'm not sure it should be returned. I'll clarify internally and reply here when I know more.

[2018-09-12 12:18] dflorey commented on #587
Ok, just make sure that it is not getting lost as our invoice generation relies on these fields.
Right now we're using the low level http requests to fetch the account.

[2018-09-17 13:39] KoichiSenada opened #588 "Method "LiveStripeResponseGetter.handleApiError()" throws unhandled exception "com.google.gson.JsonSyntaxException""
Java 8.0
stripe-java library 5.31.0 but the method implementation is currently the very same.

[code]

My suggestion is that this method should catch any thrown "com.google.gson.JsonSyntaxException" and handle it properly as expected.

[2018-09-17 13:50] ob-stripe commented on #588
Hi @KoichiSenada, thanks for the report.

The API should always return valid JSON though, even when returning an error. Can you confirm that this occurred during a request to Stripe's API servers? (I.e. you weren't using stripe-mock or another mock server?)

[2018-09-17 14:51] arch9745 opened #589 "Could not initialize class com.stripe.model.Product"
encountering the error: Could not initialize class com.stripe.model.Product when running in jboss 7.
The code is simple.

[code]

The stripe and gson jars have been deployed.  javax.api and gson have been listed as dependencies for the stripe jar. What else is needed?

[2018-09-17 14:59] ob-stripe commented on #589
Hi @arch9745. Can you share the full stacktrace? Also, can you specify which versions of Java and stripe-java you're using? (I assume JBoss 7 runs with Java 7, but I'm completely unfamiliar with JBoss.)

[2018-09-17 15:30] arch9745 commented on #589
I actually just got past that error. It was just jboss being really picky on how it handles class loading. I had installed the stripe jar under com/stripe. Installing under com/stripe/model made it work. You would think com/stripe should have done the trick since thats the base path for the jar.

[2018-09-17 15:59] ob-stripe commented on #589
Alright, thanks for the reply! Closing the issue.

[2018-09-17 15:59] #589 closed

[2018-09-17 16:16] arch9745 opened #590 "how do you get the product id after creating the product?"
According to the docs, Product.create is supposed to return json response including the product id. How do you get that? The only listed return I see is Product which has no public access to the id.

[2018-09-17 16:45] ob-stripe commented on #590
@arch9745 You can call `getId()` to retrieve the value of the `id` attribute. You can't see the accessor in the source code because we use Project Lombok to automatically generate accessors for attributes.

That said, GitHub issues are specifically for reporting bugs or sending feature requests for Stripe's Java client library. They are not a support channel. If you have further questions, please

[2018-09-17 16:46] #590 closed

[2018-09-20 06:41] SnuK87 opened #594 "Getting customer properties"
**Version:**
[code]

**Use case:**
I want to read some properties (e.g. expiration of credit card) of the `Customer` object that I get when I update a customer (e.g. add a source).

[code]

When I take a look at the JSON schema I would expect to do something like

[code]

But the `ExternalAccount` only provides a few getter and most of them just return a String of the top level properties.

Please

[2018-09-20 08:09] ob-stripe commented on #594
Hi @SnuK87. A customer's attached payment sources may be of different types: [cards](https://stripe.com/docs/api/java#card_object), [bank accounts](https://stripe.com/docs/api/java#customer_bank_account_object) or [sources](https://stripe.com/docs/api/java#source_object). `ExternalAccount` is a parent class for those different types.

Unfortunately at this time, it is necessary to cast the object

[2018-09-20 08:09] #594 closed

[2018-09-20 13:01] SnuK87 commented on #594
@ob-stripe Thanks for the quick response.

I'm currently using the `toJson()` method parse the json of the `ExternalAccount`. But your solution looks a bit better.

Thanks again.

[2018-09-20 17:44] itgeorge opened #597 "Request: Add a way to fetch all charges for an invoice"
The API currently allows to get the latest charge for an invoice through ```invoice.getCharge()```.

However there seems to be no way to retrieve all charges for an invoice, except writing custom code to fetch all charges between two dates and filter them by invoice id, which seems error-prone.

The Stripe Dashboard seems to be able to do this - it lists "Payments" for an invoice for which one or

[2018-09-20 17:50] remi-stripe commented on #597
@itgeorge Unfortunately this feature is limited to the dashboard at the moment. It's not missing in stripe-java per se, it is just not yet public in the API. I'll raise it internally though to see if we could add support for this publicly in the future!

[2018-09-20 17:50] #597 closed

[2018-10-16 13:22] Flo354 opened #605 "Arrays in webhooks previous attributes parsed as Object[]"
Hi,

I am using stripe-java version 7.1.0 and I am currently experiencing something weird with Webhooks.
When getting `event.getData().getPreviousAttributes()`, I obtain a `Map<String, Object>` which is fine.

Within this map, if I am getting the field `verification`, is it also a `Map<String, Object>`.
But why an array, like `verification -> fields_needed` is an `Object[]` instead of a `List<Obje

[2018-10-16 14:13] ob-stripe commented on #605
Hi @Flo354, thanks for the report!

Stripe's Java library uses a custom deserializer for the `data` attribute of event objects. It is this custom deserializer that decodes JSON lists as Java arrays instead of `List` objects (cf. [here](https://github.com/stripe/stripe-java/blob/ebbc8bedb88e369d2103e67eb083e8bd42027152/src/main/java/com/stripe/model/EventDataDeserializer.java#L88-L97)).

I agree th

[2018-10-16 14:41] remi-stripe commented on #605
I agree that List would make a lot more sense and I would tag as Future for when we do the next major revision.

[2018-10-16 14:44] Flo354 commented on #605
Thanks!

I'll wait for the next major release.

[2018-11-06 10:56] farazahmedsyed commented on #588
Hi, any update on above? I had same issue in customer retrieve function.

[2018-11-06 17:38] remi-stripe commented on #588
@farazahmedsyed Would you be able to provide more details about the error?

[2018-11-06 21:17] marco-aquilanti opened #608 "Missing "flat amount" in Plan.Tier object"
Hi,
I am using Stripe Java library (V 7.2.0) and I don't have available"flat amount" in the object Tier when I retrieve a Plan.
I tried using curl command and the value flat_amount is correctly populated in the JSON response from the server exactly how documentation says (https://stripe.com/docs/api/plans/object).
The problem is: flat_amount is missing in inner class Plan.Tier (https://github.com/

[2018-11-06 21:18] remi-stripe commented on #608
@marco-aquilanti This feature was just released and it is not yet part of the API libraries. It's something we hope to ship soon though!

[2018-11-06 21:21] marco-aquilanti commented on #608
@remi-stripe  Thank you for the quick reply.

[2018-11-07 08:00] farazahmedsyed commented on #588
@remi-stripe  I am using stripe-java version 3.2.0 library. We usually do not get this error, it looks like that it happens only on a specific time(i.e on 2018-09-12 00:00:XX) multiple times.
Logs:

Caused by: com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was STRING at line 1 column 1
	at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$A

[2018-11-07 15:20] remi-stripe commented on #588
Gotcha, if it happens again, can you log more details about the exact request, which resource you were creating or fetching, what the API returned, etc.?

[2018-11-07 19:36] #608 closed

[2018-11-07 19:46] remi-stripe commented on #608
@marco-aquilanti I just released it in 4.11.0 so if you upgrade you should get it!

[2018-11-07 20:35] remi-stripe commented on #608
Correction, this will ship in 7.3.0 soon. 4.11.0 was a mixup and that version is removed.

[2018-11-08 08:28] farazahmedsyed commented on #588
We were unable to reproduce it. The same request payload was executed successfully after some hours. I don,t think that I can log response from API as the above error occurs when library try to read the response payload.

[2018-11-08 08:31] ob-stripe commented on #588
@farazahmedsyed Are you connecting directly to Stripe's API? Or is there any sort of proxy between your server and Stripe?

[2018-11-08 09:09] farazahmedsyed commented on #588
there is no proxy though we are using stripe library which is then hitting APIs.

[2018-11-08 09:14] marco-aquilanti commented on #608
Thank you @remi-stripe.
Really impressed from the quick answer I got.

[2018-11-09 16:17] #588 closed

[2018-11-21 17:34] Flo354 opened #619 "NPE when accessing destinationObject of Payout"
Hi,

I am getting a list of Payout with the method `Payout.list` but it ends up with an NPE

[code]

Some details, I am using my test key to get test payouts (since I do not have live payouts).
BUT, my bank account is a live one.

May be it's related?

[2018-11-21 17:42] remi-stripe commented on #619
@Flo354 When you retrieve a Payout via the API the `destination` property is a string by default such as a bank account id `ba_1234`. This means that by default `getDestinationObject()` would return null and you should not call `toString()` on it if it's null.

You should change your code to check the returned value before calling `toString()`. You also should avoid calling `getDestinationObject()

[2018-11-21 17:42] #619 closed

[2018-11-21 17:49] Flo354 commented on #619
It works, sorry for my misunderstanding

[2018-11-21 17:56] remi-stripe commented on #619
No worries, I would have assumed that `null.toString()` would just return an empty string instead of an NPE!

[2018-11-23 19:05] Flo354 opened #620 "Missing fields in Refund object"
Hi there,

According to the documentation https://stripe.com/docs/api/refunds/object, there are two fields: `failure_balance_transaction` and `failure_reason`.

From this same link, I have an example:
[code]

In the SDK these fields are missing. Furthermore, in the SDK there is a field called `description` but it is not in the documentation.

Am i missing something, or is it an error?

EDIT : ther

[2018-11-28 15:46] #620 closed

[2018-11-28 18:36] ob-stripe commented on #620
Fixed in 7.10.0.

[2018-11-30 17:12] Flo354 commented on #620
Thanks @ob-stripe.

When will the release be pushed to maven?

[2018-11-30 17:31] ob-stripe commented on #620
Hey @Flo354, sorry about that, looks like something went wrong during the release process.

I've just released stripe-java v7.10.0 on OSS Sonatype. It should appear on Maven Central within a day.

[2019-01-07 20:33] martintreurnicht opened #633 "wallet provider is missing from Authorization object"
See https://stripe.com/docs/api/issuing/authorizations/object#issuing_authorization_object-wallet_provider for more information

[2019-01-07 21:54] remi-stripe commented on #633
@martintreurnicht Thanks a lot for the report! I'll work on adding support for this soon and hopefully we can release this in the next few days!

[2019-01-08 00:45] martintreurnicht commented on #633
Awesome! Thanks for the quick feedback

[2019-01-08 16:12] #633 closed

[2019-01-08 16:15] remi-stripe commented on #633
This is being released in 7.12.0!

[2019-01-11 01:13] samtheprogrammer commented on #454
+1

[2019-01-11 18:33] alejandrod opened #650 "NullPointerException rawEvidence is null for Dispute"
Use case:
Dispute looks like:
[code]

`DisputeDataDeserializer` line 39
`JsonElement rawEvidence = disputeAsJsonObject.get("evidence");`
rawEvidence is null

Libary version : "7.13.0"
Stripe API version: 2018-11-08

We should check for null

[2019-01-12 02:55] remi-stripe commented on #650
@alejandrod Do you have a bit more details about how you ended up with that payload for the dispute object? Based on the id with only zeroes, my guess is that you used the "Send test event" button for the webhook endpoint but I can't seem to reproduce this issue.

[2019-01-17 19:04] alejandrod commented on #650
Yes. @mio-stripe I think it is. Thanks!

[2019-01-17 19:06] remi-stripe commented on #650
@alejandrod I'm not entirely sure I follow what you meant by your answer. Would you be able to provide a lot more details about the issue? Especially the exact payload of the whole JSON object being sent so that I can try to reproduce.

[2019-01-18 17:59] Flo354 opened #658 "Charge.getSource() is an ExternalAccount"
Hi there,

According to the documentation (https://stripe.com/docs/api/charges/object) it seems that the source object returned is the complete one. However, the type of the source field in the "Charge" object is "ExternalAccount".

Why?

[2019-01-18 18:04] ob-stripe commented on #658
@Flo354 A charge's source may be of a few different types: a [card](https://stripe.com/docs/api/cards), a [bank account](https://stripe.com/docs/api/customer_bank_accounts) or a [source](https://stripe.com/docs/api/sources) (yes, the term "source" is overloaded 😕).

In Stripe's Java library, those different types are represented by the `ExternalAccount` superclass. It's a rather bad name, since "e

[2019-01-18 18:12] Flo354 commented on #658
Thanks @ob-stripe for the clarification! I was hoping not have to do two requests, but seems I'll have to...

Thanks again,

[2019-01-18 20:20] ob-stripe commented on #658
@Flo354 Can you clarify what you're trying to do exactly? There may be a way to limit the number of requests.

[2019-01-19 09:05] Flo354 commented on #658
@ob-stripe, I just want to get the cardholder name. (All my Sources are Card).

[2019-01-19 13:02] ob-stripe commented on #658
If you know that your payment sources are all cards, then you can directly cast the `ExternalAccount` to a `Card`:

[code]

Or, if you want to add a layer of safety:
[code]

Hope this helps! If you have more questions or need more guidance, feel free to reach out to Stripe's support at https://support.stripe.com/email.

[2019-01-19 13:02] #658 closed

[2019-01-19 13:15] Flo354 commented on #658
That was exactly what I wanted to do! Thanks @ob-stripe!

[2019-01-29 15:15] yossikal commented on #650
Hi @remi-stripe, the issue is when sending a charge.dispute.created test webhook from stripe's dashboard to our endpoint.

[2019-01-29 19:00] remi-stripe commented on #650
@yossikal I'm unfortunately having some problem reproducing this issue on my side. Would you be able to clarify which API version is associated with your Stripe account at the moment?

[2019-01-29 21:03] yossikal commented on #650
@remi-stripe  sure.
apiVersion = "2018-11-08".
Sending the test webhook with connect parameters.

[2019-01-30 00:05] remi-stripe commented on #650
@yossikal I'm sorry for the back and forth but I can not seem to reproduce this in my account. I'm using the latest API version in a brand new account and the latest version of stripe-java and the Dispute deserializes without issues.

Would you be able to share the raw event JSON as it appears in the Dashboard when you click this button? I feel like you're getting a different output than I am for

[2019-01-30 14:22] yossikal commented on #650
@remi-stripe No problem, here's the JSON:
[code]

[2019-01-30 16:00] remi-stripe commented on #650
@alejandrod Okay this is the exact JSON I get. Which version of stripe-java are you using to deserialize this event?

[2019-01-30 16:11] yossikal commented on #650
@remi-stripe stripe-java version: `7.13.0`

We use this in scala, this is the formatter:
[code]

[2019-01-30 16:29] ob-stripe commented on #650
@yossikal The JSON string you posted in your original message includes an `evidence_sub_object` key and no `evidence` key. My guess is that this JSON string was reserialized from a `Dispute` object, rather than being the raw JSON sent by Stripe's webhook test button. Is that correct?

If so, then the issue is that `Dispute` objects are not correctly serialized back to JSON. This is because the Jav

[2019-02-04 16:07] #650 closed

[2019-02-11 23:14] stickfigure opened #674 "Missing Invoice.getCustomerObject()"
It looks like (as of 7.19.0) there is no getCustomerObject() method on Invoice. I'd like to be able to expand the customer field of an invoice (like you can with Charge). Thanks!

[2019-02-11 23:28] remi-stripe commented on #674
@stickfigure Thanks for the report! It looks like the library never supported this but I'm working on fixing it now!

[2019-02-12 18:18] #674 closed

[2019-02-12 18:42] remi-stripe commented on #674
@stickfigure This was released on 7.20.0 today!

[2019-02-25 05:50] bjornharvold opened #682 "Invalid Stripe API version: 2019-2-19"
Using Stripe Java v7.24.0
Using JDK 1.8 181
Account version: 2018-2-28
Stripe testing version: 2019-02-19

I am currently working on our Stripe integration. I want to upgrade my Stripe version to the latest while I am here. I updated our dependency on Stripe Java to 7.24.0 and I set Stripe.apiVersion to 2019-02-19.

When I start running through my integration tests I get the error:

`Invalid Strip

[2019-02-25 05:51] remi-stripe commented on #682
@bjornharvold based on the error message, it seems you are passing `2019-2-19` in the string instead of `2019-02-19`. Just double check your code and make sure to add the missing zero in front of the 2.

[2019-02-25 05:55] bjornharvold commented on #682
And that's exactly what the problem was. Incorrect date format. Alright.... moving right along gentlemen. Nothing to see here!

Thank you :-)

[2019-02-25 05:55] #682 closed

[2019-03-20 05:36] ob-stripe commented on #210
It sure took us a long time, but as of stripe-java 8.0.0, ~all fields on resource classes should have up-to-date Javadoc annotations!

[2019-03-20 05:36] #210 closed

[2019-03-20 05:37] ob-stripe commented on #288
As of stripe-java 8.0.0, all fields have an explicit `@SerializedName` annotation.

[2019-03-20 05:37] #288 closed

[2019-03-20 05:56] ob-stripe commented on #491
Closing this issue as we're not going to implement this. We completely reworked the way polymorphic resources work in stripe-java 8.0.0.

`Source` now implements the `PaymentSource` interface and is no longer a subclass of `ExternalAccount`. `detach()` is specific to `Source`, and so has to be called from a `Source` instance -- either by retrieving the object directly via `Source.retrieve()` or by

[2019-03-20 05:56] #491 closed

[2019-03-20 05:59] ob-stripe commented on #562
Late update: I was never able to find what exactly caused the issue described here in stripe-java's code. However, we're likely going to drop support for Java 1.7 in the next major version, which will also let us remove all the custom SSL tweaking that we do (since Java 1.8 and more recent versions use TLS 1.2 by default). Hopefully this will fix the problem described here.

[2019-03-20 06:01] ob-stripe commented on #307
Closing this issue due to age and the fact that we're unlikely to get rid of Gson anytime soon.

[2019-03-20 06:01] #307 closed

[2019-03-20 06:03] ob-stripe commented on #605
Quick update: this didn't make it into the newly released major version 8.0.0, but it's still on our roadmap and will be fixed in a future major version.

[2019-03-20 15:08] codylerum opened #699 "Document Webhook Object Deserialization in Migration Guide"
In v7 the charge object (assuming I've check that the event type should have a charge object) in a webook could be obtained via.

[code]
The getObject however is now deprecated. It would appear that the correct call is now

[code]

This should be documented in the migration guide as well as I don't see a test deserializing an object from a webhook.  It would be helpful if there was a test that con

[2019-03-20 15:08] remi-stripe commented on #699
@codylerum Thanks for the feedback! We'll work on improving this!

[2019-03-20 16:00] mickjermsurawong-stripe commented on #699
Hi @codylerum! Thank you for the quick feedback here.
There's a section about the event deserialization event under "Event response structure" https://github.com/stripe/stripe-java/wiki/Migration-guide-for-v8----version-upgrade.
I will add to it explicitly the new way of deserializing the data as you suggest.

On test, maybe we wouldn't to test logic on the Event object in Webhook object? Event ca

[2019-03-20 16:06] codylerum commented on #699
@remi-stripe & @mickjermsurawong-stripe  No problem. Other than that I was able to sort things out and get everything updated to v8

Not sure how I missed that in the documentation.

Creating a new webhook endpoint each time we we bump versions will definitely be a bit of a change though I see how it is needed for strict compatibility.

[2019-03-20 16:10] codylerum commented on #699
@mickjermsurawong-stripe I think what I'm more looking for is a specific example of the way the stripe java api recommends constructing the Event from webhook payload and extracting the specific object based on event type. You have a simple usage in the ReadMe for creating a charge - https://github.com/stripe/stripe-java/blob/master/README.md

Maybe something like that but maybe in the wiki like t

[2019-03-20 17:27] mickjermsurawong-stripe commented on #699
Glad to hear that you were able to able upgrade to v8 successfully! And thank you for the feedback so far.

I made 2 PRs, cc you both, to add documentations to both source code and the migration update guide, and also a test on `Event` class itself instead of `Webhook` for the reason that event class also supports retrieving from `/v1/events` endpoint as well.

[2019-03-21 15:19] mickjermsurawong-stripe commented on #699
hi @codylerum!
8.0.2 is released, adding the test and java doc to reflect migration guide--also updated. (8.0.1 is an accidental release with no actual change) I'm closing this issue now, but please let me know if i'm still missing something else in this major version release. Thank you again for your contribution :)

[2019-03-21 15:19] #699 closed

[2019-03-31 12:17] lmdic opened #716 "How create Session object in java project?"
In my java project in **build.gradle.kts**.

`implementation("com.stripe:stripe-java:8.1.0")`

Now, how in my java code I can create this session object

https://stripe.com/docs/api/checkout/sessions/create

?

[2019-03-31 17:27] remi-stripe commented on #716
@lmdic At the moment the APIs associated with the `Session` object are not supported in stripe-java. This is due to `Session` being in beta for now and subject to changes. We will add the `Session` object in the future though once it has fully stabilized.

[2019-03-31 17:27] #716 closed

[2019-04-09 23:36] #497 closed

[2019-04-09 23:36] #562 closed

[2019-04-09 23:36] #605 closed

[2019-04-09 23:38] ob-stripe commented on #605
Fixed in stripe-java 9.0.0.

[2019-04-10 07:11] casper5822 opened #732 "Maven import 9.0.0 Missing artifact"
I did the upgrade from stripe-java 8.10 to 9.0.0, but maven import seems not working:

Error missing artifact in maven project.

[2019-04-10 15:01] mickjermsurawong-stripe commented on #732
Hi @casper5822, thank you for the report! We did have a deploy problem yesterday, and it seems like we didn't resolve that entirely. Will update you here once it's on Maven.

[2019-04-10 15:57] ob-stripe commented on #211
Hi everyone. I know it's been a long time since this issue was opened, but I'm happy to report that as of stripe-java v9.0.0, the library finally has support for fully typed request parameters!

You can see an example of the new syntax in our migration guide [here](https://github.com/stripe/stripe-java/wiki/Migration-guide-for-v9#typed-parameters). Over the next few weeks, the examples on Stripe's

[2019-04-10 15:57] #211 closed

[2019-04-10 16:05] ob-stripe commented on #433
I'm closing this issue: the root cause described here hasn't been fixed, but as of stripe-java v8.0.0, the library is pinned to a specific API version. As a result, we were able to drop most of the custom deserializers that we used to have to handle the changes caused by different API versions, and so the problem is mostly gone.

[2019-04-10 16:05] #433 closed

[2019-04-10 17:08] ob-stripe opened #733 "Fix signature issue and upgrade to latest Gradle"
For v9.0.0, we initially upgraded to Gradle 5.3.1, but we ran into this issue when signing the package for the release: https://github.com/gradle/gradle/issues/8213.

We worked around the issue by downgrading to Gradle 5.0, but we should fix the signing process so that we can keep using the latest versions of Gradle.

[2019-04-10 18:02] jjlueck-tock opened #736 "Plan.retrieve with legacy Plan identifier are not escaped properly"
This is a bug in the 8.1.0 and 9.0.0 release of stripe-java.

We have a bunch of legacy subscription Plan objects in Stripe that were created before the ids are generated for us (using the `plan_xyz` convention). Many of these identifiers have forward slashes in them (e.g. `Pro plan $699/month`).

When we attempt to retrieve any of these plans, we get an InvalidRequestException.

[code]

Could we

[2019-04-10 18:14] remi-stripe commented on #736
@jjlueck-tock Thanks a lot for the report. We're investigating and we'll update the library soon!

[2019-04-10 18:14] mickjermsurawong-stripe commented on #736
Hi @jjlueck-tock. Sorry for the problem you have here. Will make a fix on this. Next release on V9 will have this patch.

[2019-04-10 18:15] mickjermsurawong-stripe commented on #732
Hi @casper5822, v9.0 is on Maven now. Please let us know if you have feedback using the new release!

[2019-04-10 18:15] #732 closed

[2019-04-10 18:21] casper5822 commented on #732
Ok, it works. Thank you for all.

[2019-04-10 19:07] kyleconroy commented on #211
@ob-stripe 🙌 Amazing job!

[2019-04-10 20:44] ob-stripe commented on #211
@kyleconroy ~all the credit goes to @mickjermsurawong-stripe 😀

[2019-04-10 23:50] raj206 opened #738 "Stripe v9 changes"
The new stripe-java v9 has this added functionality:
[code]

ChargeCreateParams doesn't have a `setMetadata` option. How is one supposed to that now? I don't see any documentation around this either.

[2019-04-10 23:54] ob-stripe commented on #738
@raj206 You can use one of the two following forms:
[code]
or:
[code]

Sorry if this wasn't clear! We're still in the process of documenting how to use the new typed parameters feature.

Closing the issue, but feel free to reply if needed.

[2019-04-10 23:54] #738 closed

[2019-04-10 23:55] raj206 commented on #738
Nope, that works. Thanks!

[2019-04-11 01:47] #733 closed

[2019-04-11 09:40] alexbishop1 opened #740 "Event deserialization example in migration guide for v9 isn’t idiomatic Java 8"
The event deserialization part of the [migration guide for v9 on the wiki](https://github.com/stripe/stripe-java/wiki/Migration-guide-for-v9) includes this code example:

[code]

The use of the `isPresent()` method on `Optional` is unusually unnecessary and is discouraged. It would be more idiomatic to use a lambda:

[code]

(I would have created a pull request directly against the wiki but that d

[2019-04-11 15:28] mickjermsurawong-stripe commented on #740
Thank you @alexbishop1 for reporting the details we miss here!

Rightly, when we are sure that events should be there, the proposed snippet would be ideal.
I worry a little though that the snippet assumes it is okay when data object is absent--nothing is logged or there's no attempt to do retry.

To achieve that effect, I should probably have something explicit in the else branch.
[code]
Would tha

[2019-04-11 15:36] alexbishop1 commented on #740
Yeah, that looks better.

Java 9 and above has `ifPresentOrElse(…)`:

[code]

But I understand that you probably want to to only use Java 8 in the code examples.

[2019-04-11 15:58] mickjermsurawong-stripe commented on #740
Updated the wiki. On the java doc itself, there's a similar example using the explicit check `isPresent` and throwing error in else branch under the context that webhook endpoint has matching API version. I leave the java-doc as-is. Would appreciate any further suggestions you may have.

Ah yup, we hope to have documentation that works for all versions we now support. But I didn't know Java9 has t

[2019-04-11 16:34] alexbishop1 commented on #740
Thanks for looking at this so quickly.

[2019-04-11 16:34] #740 closed

[2019-04-12 15:27] mickjermsurawong-stripe commented on #736
hi @jjlueck-tock, we have released 9.1 with the patch on id encoding. This release should have the same behavior for url encoding as version 7 now. Please let me know if you have other issues. Thank you for reporting this!

[2019-04-12 15:27] #736 closed

[2019-04-15 09:02] Flo354 opened #741 "Make Source.ThreeDSecure extend Source.Card"
Hi there,

I juste tried to upgrade from Stripe 7 to Stripe 8 and found that `HasSourceTypeData` interface is removed. This mean that we cannot use `getTypeData` anymore. While it's a huge improvement, I am struggling with a side effect.

My sources are always either a `card` or a `3DSecured card`. Since they both have the fields `three_d_secure`, `brand`, .... I was not performing any check on th